@font-face {
    font-family: Quikhand;
    src: url('../../Quikhand.eot');
    src: url('../../Quikhand.eot?#iefix') format('embedded-opentype'),
        url('../../Quikhand.woff') format('woff');
}

@font-face {
    font-family: Throw;
    src: url('../../Throw.eot');
    src: url('../../Throw.eot?#iefix') format('embedded-opentype'),
        url('../../Throw.woff') format('woff');
}

img {
    max-width: 90%;
}

.container {
/*    margin-top: 50px; */
    padding-top: 50px;
}

.contentcolumn {
    min-height: 600px;
}

.postbox {
    line-height: 25px;
    margin-bottom: 40px;
}

.post_title {
    font-family: 'Quikhand', 'Droid Sans', Arial, 'Helvetica', 'Microsoft YaHei', 'SimHei', sans-serif;
    margin-top: -5px;
    margin-bottom: 20px;
}

.post_text {
    margin-bottom: 20px;
}

.post_preamble {
    font-family: 'Quikhand', 'Droid Sans', Arial, 'Helvetica', 'Microsoft YaHei', 'SimHei', sans-serif;
    margin-top: 20px;
    margin-bottom: 40px;
}

.footerbox {
    font-family: 'Throw', 'Droid Sans', Arial, 'Helvetica', 'Microsoft YaHei', 'SimHei', sans-serif;
    text-align: center; 
    margin-top: 100px;
    margin-bottom: 5px;
}

.indexbox:hover {
    background-color: #222222;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    -webkit-box-shadow: 0 0 5px 5px rgba(34, 34, 34, .75);
    -moz-box-shadow: 0 0 5px 5px rgba(34, 34, 34, .75);
    box-shadow: 0 0 5px 5px rgba(34, 34, 34, .75);
}

.indexbox {
    border-style: solid;
    border-width: 1px;
    border-color: #333333;
    background-color: #1a1a1a;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

body {
    font-family: 'Geneva', 'Helvetica', 'Microsoft YaHei', 'SimHei', sans-serif;
    font-size: 16px;
    height: 100%;
    background-color: #0c0c0c;
    color: #dddddd;
}

a {
    color: #47756f;
    text-decoration: none;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

a:focus {
    outline: none;
}

a:hover,
a:active {
    outline: 0;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 20px 0;
    font-family: inherit;
    font-weight: normal;
    color: #ffffff;
    text-rendering: optimizelegibility;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
    font-weight: normal;
    line-height: 1;
    color: #adafae;
}

h1 {
    font-size: 60px;
    line-height: 65px;
}
h2 {
    font-size: 31.5px;
    line-height: 33px;
}
h3 {
    font-size: 24.5px;
    line-height: 24.5px;
}
h4 {
    font-size: 17.5px;
    line-height: 17.5px;
}
h5 {
    font-size: 14px;
    line-height: 14px;
}
h6 {
    font-size: 11.9px;
    line-height: 11.9px;
}
h1 small {
    font-size: 20px;
}
h2 small {
    font-size: 17.5px;
}
h3 small {
    font-size: 14px;
}
h4 small {
    font-size: 14px;
}

blockquote {
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;

    padding: 10px 10px 10px 15px;
    margin: 10px 0; 
    border-left: 5px solid #33b5b5;
    background: #333333
}

blockquote:before,
blockquote:after {
    content: "";
}

pre.code {
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    border: 0;
}

.msg_box {
    margin: 10px 0;
    padding: 0 12px;
    /*
    background-color: #333333;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    */
}

.msg_box .msg_text {
    font-family: 'Quikhand', 'Droid Sans', Arial, 'Helvetica', 'Microsoft YaHei', 'SimHei', sans-serif;
    display: block;
    font-size: 16px;
    padding-top: 10px;
    margin-bottom: 5px;
}

.msg_box .date {
    font-family: 'Quikhand', 'Droid Sans', Arial, 'Helvetica', 'Microsoft YaHei', 'SimHei', sans-serif;
    display: block;
    padding-bottom: 3px;
    text-align: right;
    font-size: 12px;
    color: #666666;
}

.nav {
    margin-left: 0;
    margin-bottom: 20px;
    list-style: none;
}

.navbar_left {
    width: 250px;
    margin-right: 50px;
    overflow: visible;
}

.headline {
    margin-left: 2px;
}

.logo {
    top: 0;
    position: absolute;
    pointer-events: none;
}

.no-svg .logo {
    width: 255px;
    height: 120px;
    background: url('images/ekg.png') no-repeat right center;
}

.logo > object {
    width: 255px;
    height: 120px;
}

.no-svg .logo > object {
    display: none;
}

.navbar_left .brand > a {
    color: #6083bf;
}

.navbar_left .brand > a:hover {
    color: #ffffff;
}

.navbar_left .brand {
    font-size: 70px;
    font-family: 'Quikhand', 'Droid Sans', Arial, 'Helvetica', 'Microsoft YaHei', 'SimHei', sans-serif;
    line-height: 50px;
    text-shadow: 0 0 20px rgba(198, 243, 236, 0.75);
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /* IE 5-7 */
    filter: alpha(opacity=80);
    /* Netscape */
    -moz-opacity: 0.8;
    /* Safari 1.x */
    -khtml-opacity: 0.8;
    /* Good browsers */
    opacity: 0.8;
    margin-top: 10px;
}

.navbar_left .descr {
    font-size: 20px;
    font-family: 'Quikhand', 'Droid Sans', Arial, 'Helvetica', 'Microsoft YaHei', 'SimHei', sans-serif;
    text-align: left;
    color: #e39e22;
    text-shadow: 0 0 5px rgba(255, 212, 136, 0.99);
    margin-top: 5px;
}

.navbar_left .nav {
    margin-top: 20px;
}

.navbar_left .nav > li > a {
    font-family: 'Throw', 'Droid Sans', Arial, 'Helvetica', 'Microsoft YaHei', 'SimHei', sans-serif;
    font-size: 18px;
    text-align: right;
    margin-right: 0;
    padding-right: 10px;
    display: block;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    border-radius: 0.3em;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    color: #aaa;
}

.navbar_left .nav > li > a:hover {
    text-decoration: none;
    background-color: #e37222;
    color: #fff;
}

.pager li > a,
.pager li > span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #ccc;
    color: #333;
    border: 0;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.pager li > a:hover,
.pager li > span:hover {
    background-color: #e37222;
    color: #fff;
}

.pager {
    margin: 60px 0 0 0;
    font-family: 'Quikhand', 'Droid Sans', Arial, 'Helvetica', 'Microsoft YaHei', 'SimHei', sans-serif;
    list-style: none;
    text-align: center;
}

.pager:before,
.pager:after {
    clear: both;
}

.pager li {
    display: inline;
}

.pager .next > a,
.pager .next > span {
    float: right;
    line-height: 20px;
}
.pager .previous > a,
.pager .previous > span {
    float: left;
    line-height: 20px;
}

ul.tags {
    display: inline-block;
    margin-bottom: 0;
    line-height: 14px;
    vertical-align: top;
}

ul.tags > li {
    display: inline-block;
}

.tag {
    display: inline-block;
    padding: 4px 4px;
    font-family: 'Quikhand', 'Droid Sans', Arial, 'Helvetica', 'Microsoft YaHei', 'SimHei', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    vertical-align: bottom;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #007399;
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

ul.unstyled,
ol.unstyled {
    margin-top:30px;
    margin-left: 0;
    list-style: none;
}

ul.unstyled > li {
    margin-top:5px;
}

div.section {
    margin-top: 40px;
}

object.music-score {
    width: 100%;
}

p:last-child { margin-bottom: 0 !important; }
p:first-child { margin-top: 0 !important; }

.comments, .more {
    font-family: 'Quikhand', 'Droid Sans', Arial, 'Helvetica', 'Microsoft YaHei', 'SimHei', sans-serif;
}

/* Better styles for embedding GitHub Gists
 * https://gist.github.com/jnrbsn/578379 */

.gist {
    font-size:13px;
    line-height:18px;
    margin-bottom:20px;
    width:100%;
}

.gist pre {
    font-family:Menlo,Monaco,'Bitstream Vera Sans Mono','Courier New',monospace !important;
}

.gist-meta{
    font-family:Helvetica,Arial,'Microsoft YaHei', 'SimHei', sans-serif;font-size:13px !important;
}
.gist-meta a {
    color:#26a !important;
    text-decoration:none;
}
.gist-meta a:hover {
    color:#0e4071 !important;
}

.disqus_thread {
    margin-top: 60px;
}

