/* define all custom fonts */
@font-face {
    font-family: Quikhand;
    src: url('../../Quikhand.eot');
    src: url('../../Quikhand.eot?#iefix') format('embedded-opentype'),
        url('../../Quikhand.woff') format('woff');
}

@font-face {
    font-family: Throw;
    src: url('../../Throw.eot');
    src: url('../../Throw.eot?#iefix') format('embedded-opentype'),
        url('../../Throw.woff') format('woff');
}

/* generic style of elements */
img {
    max-width: 90%;
}

a {
    color: #67756f;
    text-decoration: none;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

a:focus, a:hover, a:active {
    outline: none;
    text-decoration: none;
}

a:focus {
    color: #78756f;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

body {
    font-family: 'Geneva', 'Helvetica', 'Microsoft YaHei', 'SimHei', sans-serif;
    font-size: 16px;
    height: 100%;
    color: #dddddd;
    background-color: #232526;
    background: -webkit-linear-gradient(90deg, #232526 10%, #414345 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #232526 10%, #414345 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #232526 10%, #414345 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #232526 10%, #414345 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #232526 10%, #414345 90%); /* W3C */
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 20px 0;
    font-family: inherit;
    font-weight: normal;
    color: #ffffff;
    text-rendering: optimizelegibility;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
    font-weight: normal;
    line-height: 1;
    color: #adafae;
}

h1 {
    font-size: 60px;
    line-height: 65px;
}
h2 {
    font-size: 31.5px;
    line-height: 33px;
}
h3 {
    font-size: 24.5px;
    line-height: 24.5px;
}
h4 {
    font-size: 17.5px;
    line-height: 17.5px;
}
h5 {
    font-size: 14px;
    line-height: 14px;
}
h6 {
    font-size: 11.9px;
    line-height: 11.9px;
}
h1 small {
    font-size: 20px;
}
h2 small {
    font-size: 17.5px;
}
h3 small {
    font-size: 14px;
}
h4 small {
    font-size: 14px;
}

blockquote {
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;

    padding: 10px 10px 10px 15px;
    margin: 10px 0; 
    border-left: 5px solid #78756f;
    background: #333333
}

blockquote:before,
blockquote:after {
    content: "";
}

/* layout */
.container {
/*    margin-top: 50px; */
    padding-top: 50px; /* IE compatibility */
    /*
    background-color: #000;
    background-image: url('images/bg.jpg');
    background-repeat: no-repeat;
    background-position: -50px -47px;
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/bg.jpg', sizingMethod='scale')";
    */
}

.content-column {
    min-height: 600px;
}

.footerbox {
    font-family: 'Throw', 'Droid Sans', Arial, 'Helvetica', 'Microsoft YaHei', 'SimHei', sans-serif;
    text-align: center; 
    margin-top: 100px;
    margin-bottom: 5px;
}

/* post */
.postbox {
    line-height: 25px;
    margin-bottom: 40px;
}

.post-title {
    font-family: 'Quikhand', 'Droid Sans', Arial, 'Helvetica', 'Microsoft YaHei', 'SimHei', sans-serif;
    margin-top: -5px;
    margin-bottom: 20px;
}

.post-text {
    margin-bottom: 20px;
}

.post-preamble {
    font-family: 'Quikhand', 'Droid Sans', Arial, 'Helvetica', 'Microsoft YaHei', 'SimHei', sans-serif;
    margin-top: 20px;
    margin-bottom: 40px;
}

.post-preamble h4 {
    display: inline;
}

/* indexbox */

.indexbox:hover {
    background-color: rgb(34, 34, 34);
    background-color: rgba(34, 34, 34, .55);
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    -webkit-box-shadow: 0 0 5px 5px rgba(34, 34, 34, .55);
    -moz-box-shadow: 0 0 5px 5px rgba(34, 34, 34, .55);
    box-shadow: 0 0 5px 5px rgba(34, 34, 34, .55);
}

.indexbox {
    border-style: solid;
    border-width: 1px;
    border-color: #333333;
    background-color: rgb(26, 26, 26);
    background-color: rgba(26, 26, 26, .35);
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

/* codebox */
pre.code {
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
    overflow: hidden;
    border: 0;
}

pre.code .lineno, pre.code .wrapper {
    padding-top: 5px;
    padding-bottom: 5px;
}

pre.code .lineno {
    float: left;
    text-align: right;
    padding-right: 5px;
    padding-left: 5px;
    border-right: 2px solid #78756f;
    margin-right: 10px;
    min-width: 30px;
    background-color: #3e4071;
}

pre.code .text {
    outline: none;
    overflow-x: auto;
    cursor: text;
}

pre.code .wrapper {
    padding-right: 5px;
    overflow-x: hidden;
}

pre.code .text .line span {
    display: inline-block;
}

pre.code .text .line:hover {
    /* background-color: #333; */
}

pre.code .text .jspHorizontalBar {
    opacity: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

pre.code .text:hover .jspHorizontalBar {
    opacity: 0.5;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

/* msgbox */
.msgbox {
    margin: 10px 0;
    padding: 0 12px;
    /*
    background-color: #333333;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    */
}

.msgbox .msg-text {
    font-family: 'Quikhand', 'Droid Sans', Arial, 'Helvetica', 'Microsoft YaHei', 'SimHei', sans-serif;
    display: block;
    font-size: 16px;
    padding-top: 10px;
    margin-bottom: 5px;
}

.msgbox .date {
    font-family: 'Quikhand', 'Droid Sans', Arial, 'Helvetica', 'Microsoft YaHei', 'SimHei', sans-serif;
    display: block;
    padding-bottom: 3px;
    text-align: right;
    font-size: 12px;
    color: #666666;
}

/* logo */
.logo-text {
    margin-left: 2px;
    padding-top: 8px;
}

.logo-img {
    top: 0;
    position: absolute;
    pointer-events: none;
}

.no-svg .logo-img {
    width: 255px;
    height: 120px;
    background: url('images/ekg.png') no-repeat right center;
}

.logo-img > object {
    width: 255px;
    height: 120px;
}

.no-svg .logo-img object {
    display: none;
}

/* navbar */
.nav {
    margin-left: 0;
    margin-bottom: 20px;
    list-style: none;
}

.navbar {
    margin-right: 50px;
    overflow: visible;
}

.navbar .logo {
    width: 250px;
}

.navbar .brand a {
    color: #fff;
}

.navbar .brand a:hover {
    text-shadow: 0 0 60px rgba(198, 243, 236, 0.75);
}

.navbar .brand {
    font-size: 70px;
    font-family: 'Quikhand', 'Droid Sans', Arial, 'Helvetica', 'Microsoft YaHei', 'SimHei', sans-serif;
    line-height: 50px;
    text-shadow: 0 0 20px rgba(198, 243, 236, 0.75);

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /* IE 8 */
    filter: alpha(opacity=80); /* IE 5-7 */
    -moz-opacity: 0.8; /* Netscape */
    -khtml-opacity: 0.8; /* Safari 1.x */
    opacity: 0.8; /* Good browsers */
}

.navbar .descr {
    font-size: 20px;
    font-family: 'Quikhand', 'Droid Sans', Arial, 'Helvetica', 'Microsoft YaHei', 'SimHei', sans-serif;
    text-align: left;
    color: #606060;
/*    text-shadow: 0 0 5px rgba(255, 212, 136, 0.99); */
    margin-top: 5px;
}

.navbar .nav {
    margin-top: 20px;
}

.navbar .nav a {
    font-family: 'Throw', 'Droid Sans', Arial, 'Helvetica', 'Microsoft YaHei', 'SimHei', sans-serif;
    font-size: 18px;
    text-align: right;
    margin-right: 0;
    padding-right: 10px;
    display: block;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    border-radius: 0.3em;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    color: #aaa;
}

.navbar .nav a:focus {
    text-decoration: none;
    background: none;
}

.navbar .nav a:hover {
    text-decoration: none;
    background-color: rgb(227, 114, 34);
    background-color: rgba(227, 114, 34, 0.5);
    -webkit-box-shadow: 0 0 5px 2px rgba(227, 114, 34, .35);
    -moz-box-shadow: 0 0 5px 2px rgba(227, 114, 34, .35);
    box-shadow: 0 0 5px 2px rgba(227, 114, 34, .35);
    color: #fff;
}

@media (max-width: 992px) {
    .navbar {
        margin-right: 0;
    }
    .container {
        background-size: 100% auto;
        background-position: initial;
    }
}

@media (max-width: 750px) {
    .container {
        background-position: 0px 50px;
    }
}

@media (max-width: 600px) {
    .container {
        background-position: 0px 100px;
    }
}

@media (max-width: 500px) {
    .container {
        background-position: 0px 150px;
    }
}

@media (max-width: 400px) {
    .container {
        background-position: -20px 200px;
    }
}

/* pager */
.pager li > a,
.pager li > span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #ccc;
    color: #333;
    border: 0;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.pager li > a:hover,
.pager li > span:hover {
    background-color: #e37222;
    color: #fff;
}

.pager {
    margin: 60px 0 0 0;
    font-family: 'Quikhand', 'Droid Sans', Arial, 'Helvetica', 'Microsoft YaHei', 'SimHei', sans-serif;
    list-style: none;
    text-align: center;
}

.pager:before,
.pager:after {
    clear: both;
}

.pager li {
    display: inline;
}

.pager .next > a,
.pager .next > span {
    float: right;
    line-height: 20px;
}
.pager .previous > a,
.pager .previous > span {
    float: left;
    line-height: 20px;
}

/* tags */
ul.tags {
    display: inline-block;
    margin-bottom: 0;
    line-height: 14px;
    vertical-align: top;
}

ul.tags > li {
    display: inline-block;
}

.tag {
    display: inline-block;
    padding: 4px 4px;
    font-family: 'Quikhand', 'Droid Sans', Arial, 'Helvetica', 'Microsoft YaHei', 'SimHei', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    vertical-align: middle;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    padding-left: 9px;
    padding-right: 9px;
    background-color: rgba(134, 124, 111, 0.6);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

a.tag:focus {
    color: #ffffff;
}

/* misc */
ul.unstyled,
ol.unstyled {
    margin-top: 30px;
    margin-left: 0;
    list-style: none;
}

ul.unstyled > li {
    margin-top:5px;
}

div.section {
    margin-top: 40px;
}

object.music-score {
    width: 100%;
}

p:last-child { margin-bottom: 0 !important; }
p:first-child { margin-top: 0 !important; }

.comments, .more {
    font-family: 'Quikhand', 'Droid Sans', Arial, 'Helvetica', 'Microsoft YaHei', 'SimHei', sans-serif;
}

.disqus-thread {
    margin-top: 60px;
}

.jspDrag {
    background: #aaa;
}

.jspTrack {
    background: #333;
}

.jspHorizontalBar, .jspVerticalBar {
    background: none;
}
