## -*- coding: utf-8 -*-
<%namespace file="helpers/base_helper.tmpl" import="*"/>
<!DOCTYPE html>
<html lang="${lang}">
    <head>
        ${html_head()}
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <div class="navbar">
                        <div class="logo" onmouseover="trigger_pulse();">
                            <div class="logo-img">
                                <object id="svg_obj" type="image/svg+xml" data="/assets/css/images/ekg.svg" onload="svg_onload(this);">
                                </object>
                            </div>
                            <div class="logo-text">
                                <div class="brand">
                                    <a href="${abs_link('/')}">
                                        <p>${blog_title}</p>
                                    </a>
                                </div>
                                <p class="descr">${description or ''}</p>
                            </div>
                        </div>
                        <ul class="nav">
                            ${html_navigation_links()}
                        </ul>
                        <ul id="pushybox" class="nav">
                        </ul>
                    </div>
                </div>
                <div class="col-md-8 col-xs-12">
                    <div class="content-column">
                        <%block name="content"></%block>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="footerbox col-md-12 col-xs-12">
                    ${content_footer}
                </div>
            </div>
        </div>
    </body>
</html>
