## -*- coding: utf-8 -*-
<%def name="html_head(extra_head)">
    <meta charset="utf-8">
    %if description:
        <meta name="description" content="${description}">
    %endif
    <meta name="author" content="${blog_author}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#433a40">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#433a40">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#433a40">
    <title>
      %if title == blog_title:
        ${title}
      %else:
      ${title} | ${blog_title}
      %endif
    </title>
    ${mathjax_config}
    <link href='/assets/fonts/fonts.min.css' rel='stylesheet' type='text/css'>
    <link href="/assets/css/gphotos_all.min.css" rel="stylesheet">
    <link href="/assets/css/all.min.css" rel="stylesheet" type="text/css"/>

    <script src="/assets/js/jquery.min.js" type="text/javascript"></script>
    <script src="/assets/js/modernizr.min.js" type="text/javascript"></script>
    <script defer src="/assets/js/jquery.mCustomScrollbar.min.js" type="text/javascript"></script>
    <script defer src="/assets/js/photoswipe.min.js"></script>
    <script defer src="/assets/js/photoswipe-ui-default.min.js"></script>
    <script src="/assets/js/all.min.js" type="text/javascript"></script>
    <script async src="/assets/js/hyphenator.min.js" type="text/javascript" onload="hyphenator_onload()"></script>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML" type="text/javascript"></script>
    <script async src="https://use.typekit.net/nmc8png.js" onload="typekit_onload()"></script>
    <script>
      var hyphenate_prepared = false;
      var hyphenator_loaded = false;
      function hyphenator_check() {
        if (hyphenate_prepared && hyphenator_loaded)
        {
          Hyphenator.config({useCSS3hyphenation: false});
          Hyphenator.run();
          hyphenator_loaded = false;
        }
      }
      function hyphenator_onload() {
        hyphenator_loaded = true;
        hyphenator_check();
      }
      $(document).ready(function () {
        $('.post-text').addClass('hyphenate');
        hyphenate_prepared = true;
        hyphenator_check();
      })
    </script>
    <script>
      function typekit_onload() {
        try{Typekit.load({ async: true });}catch(e){console.log("typekit err")}
      }
    </script>
    %if extra_head:
        ${extra_head()}
    %endif
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.min.js" type="text/javascript"></script>
    <script src="assets/js/respond.min.js" type="text/javascript"></script>
    <![endif]-->

    %if permalink:
        <link rel="canonical" href="${abs_link(permalink)}">
    %endif
    %if rss_link:
        ${rss_link}
    %else:
        %if len(translations) > 1:
            %for language in translations:
                <link rel="alternate" type="application/rss+xml" title="RSS (${language})" href="${_link('rss', None, language)}">
            %endfor
        %else:
            <link rel="alternate" type="application/rss+xml" title="RSS" href="${_link('rss', None)}">
        %endif
    %endif
    %if favicons:
        %for name, file, size in favicons:
            <link rel="${name}" href="${file}" sizes="${size}"/>
        %endfor
    %endif
</%def>

<%def name="html_navigation_links()">
    %for url, text in navigation_links[lang]:
        % if isinstance(url, tuple):
            <li> ${text}
            <ul>
                %for suburl, text in url:
                    % if rel_link(permalink, suburl) == "#":
                        <li class="active"><a href="${permalink}">${text}</a>
                    %else:
                        <li><a href="${suburl}">${text}</a>
                    %endif
                %endfor
            </ul>
        % else:
            % if rel_link(permalink, url) == "#":
                <li class="active"><a href="${permalink}">${text}</a>
            %else:
                <li><a href="${url}">${text}</a>
            %endif
        % endif
    %endfor
</%def>
