## -*- coding: utf-8 -*-
<%namespace name="helper" file="helpers/index_helper.tmpl"/>
<%namespace name="comments" file="helpers/comments_helper_disqus.tmpl"/>
<%inherit file="base.tmpl"/>
<%block name="content">
    % for post in posts:
        <div class="postbox indexbox">
            <div class="post-title">
                <h2>
                    <a href="${post.permalink(lang)}">${post.title(lang)}</a>
                </h2>
            </div>
            <div class="post-date">
                ${post.date.strftime(date_format)} @ ${post.meta('location') or 'Earth'}
            </div>
            <div class="post-text">
                ${post.text(teaser_only=True)}
            </div>
            ${comments.comment_link(post.permalink(), post._base_path)}
        </div>
    % endfor
    ${helper.html_pager()}
    ${comments.comment_link_script()}
    ${helper.mathjax_script(posts)}
    % if not post.meta('nocomments'):
        ${comments.comment_form(False, 'Home Page', 'index')}
    % endif
</%block>
