## -*- coding: utf-8 -*-
<%inherit file="base.tmpl"/>
<%block name="content">
    <div class="postbox indexbox">
        <div class="post_title">
            <h2>${title}</h2>
        </div>
        <ul class="unstyled">
            % for post in posts:
                <li><a href="${post.permalink(lang)}">[${post.date.strftime(date_format)}] ${post.title(lang)}</a>
            % endfor
        </ul>
    </div>
</%block>
