## -*- coding: utf-8 -*-
<%inherit file="base.tmpl"/>

<%block name="content">
<div class="postbox indexbox">
    <div class="post-title">
        <h1>${title|h}</h1>
    </div>
    %if items:
    <ul class="unstyled">
    % for text, link, count in items:
        <li><a href="${link}">${text|h}</a>
        % if count:
            (${count})
        % endif
    % endfor
    </ul>
    %else:
    <p>${messages("Nothing found.")}</p>
    %endif
</div>
</%block>
