## -*- coding: utf-8 -*-
<%namespace name="helper" file="post_helper.tmpl"/>

<%def name="html_title()">
%if title and not post.meta('hidetitle'):
    <h1 class="post-title" itemprop="headline name">${title|h}</h1>
%endif
</%def>
<%def name="html_post_preamble()">
    <div class="post-preamble">
        <div class="post-tags">
            ${helper.html_tags(post)}
        </div>
        <div class="post-date">
                ${post.date.strftime(date_format)} @ ${post.meta('location') or 'Earth'}
        </div>
    </div>
</%def>
