## -*- coding: utf-8 -*-
<%namespace name="helper" file="helpers/post_helper.tmpl"/>
<%namespace name="comments" file="helpers/comments_helper_disqus.tmpl"/>
<%namespace name="pheader" file="helpers/post_header.tmpl"/>
<%inherit file="base.tmpl"/>
<%block name="content">
<div class="postbox">
    ${pheader.html_title()}
    <div class="post_preamble">
        <h4>${messages[lang]["Posted"]}: ${post.date.strftime(date_format)}</h4>
        ${pheader.html_translations(post)}
        ${helper.html_tags(post)}
    </div>
    ${post.text()}
    ${helper.html_pager(post)}
    % if not post.meta('nocomments'):
        ${comments.comment_form(post.permalink(absolute=True), post.title(), post._base_path)}
    % endif
</div>
${helper.mathjax_script(post)}
</%block>
