@font-face {
    font-family: Quikhand;
    src: url(../../Quikhand.woff);
}

@font-face {
    font-family: Throw;
    src: url(../../Throw.woff);
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}


#container {
    width: 600px;
    margin-top: 0;
/*    margin-left: 350px;*/
    position: relative;
    float: left;
}

#post_body {
    min-height: 600px;
}

#contentcolumn {
    max-width: 760px;
}
#q {
    width: 150px;
}

img {
    max-width: 90%;
}

.postbox {
    line-height: 25px;
    margin-bottom: 40px;
}

.footerbox {
    padding: 15px; 
    font-family: 'Throw', 'Droid Sans', Arial, 'Helvetica', 'Microsoft YaHei', 'SimHei', sans-serif;
    text-align: center; 
    margin-bottom: 15px;
    bottom: 0;
}

.post_preamble {
    font-family: 'Quikhand', 'Droid Sans', Arial, 'Helvetica', 'Microsoft YaHei', 'SimHei', sans-serif;
    margin-top: 20px;
    margin-bottom: 40px;
}

a:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

a:hover,
a:active {
    outline: 0;
}

.indexbox:hover {
    background-color: #222222;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(34, 34, 34, .75);
    -moz-box-shadow: 0px 0px 5px 5px rgba(34, 34, 34, .75);
    box-shadow: 0px 0px 5px 5px rgba(34, 34, 34, .75);
}

.indexbox {
    border-style: solid;
    border-width: 1px;
    border-color: #333333;
    background-color: #1a1a1a;
    padding: 15px;
/*    padding-bottom: 10px;*/
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    padding-left: 30px;
    padding-right: 30px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.post_text {
    margin-bottom: 20px;
}

body {
    padding-top: 60px;
    margin: 0;
    font-family: 'Geneva', 'Helvetica', 'Microsoft YaHei', 'SimHei', sans-serif;
    font-size: 16px;
    color: #dddddd;
    background-color: #0c0c0c;

    min-height: 100%;
    background-color: #060606;
    background-color: #121417;
    background-image: -moz-linear-gradient(top, #060606, #252a30);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#060606), to(#252a30));
    background-image: -webkit-linear-gradient(top, #060606, #252a30);
    background-image: -o-linear-gradient(top, #060606, #252a30);
    background-image: linear-gradient(to bottom, #060606, #252a30);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff060606', endColorstr='#ff252a30', GradientType=0);
    background-repeat: repeat-x;
}

a {
    color: #33b5e5;
    text-decoration: none;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
a:hover {
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

small {
    font-size: 85%;
}
strong {
    font-weight: bold;
}
em {
    font-style: italic;
}
cite {
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 20px 0;
    font-family: inherit;
    font-weight: normal;
    color: #ffffff;
    text-rendering: optimizelegibility;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
    font-weight: normal;
    line-height: 1;
    color: #adafae;
}

h1 {
    font-size: 60px;
    line-height: 65px;
}
h2 {
    font-size: 31.5px;
    line-height: 33px;
}
h3 {
    font-size: 24.5px;
    line-height: 24.5px;
}
h4 {
    font-size: 17.5px;
    line-height: 17.5px;
}
h5 {
    font-size: 14px;
    line-height: 14px;
}
h6 {
    font-size: 11.9px;
    line-height: 11.9px;
}
h1 small {
    font-size: 20px;
}
h2 small {
    font-size: 17.5px;
}
h3 small {
    font-size: 14px;
}
h4 small {
    font-size: 14px;
}
.page-header {
    padding-bottom: 9px;
    margin: 20px 0 30px;
    border-bottom: 1px solid #eeeeee;
}
ul,
ol {
    padding: 0;
    margin: 0 0 10px 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
    margin-bottom: 0;
}
li {
    line-height: 20px;
}
ul.unstyled,
ol.unstyled {
    font-family: 'Quikhand', 'Droid Sans', Arial, 'Helvetica', 'Microsoft YaHei', 'SimHei', sans-serif;
    margin-left: 0;
    list-style: none;
}

hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #ffffff;
}

blockquote {
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;

    padding: 10px 10px 10px 15px;
    margin: 10px 0; 
    border-left: 5px solid #33b5e5;
    background: #333333
}

blockquote:before,
blockquote:after {
    content: "";
}

address {
    display: block;
    margin-bottom: 20px;
    font-style: normal;
    line-height: 20px;
}

code,
pre {
    padding: 0 3px 2px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 12px;
    color: #282828;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

code {
    padding: 2px 4px;
    color: #d14;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}

pre {
    display: block;
    padding: 9.5px;
    font-size: 13px;
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
pre.prettyprint {
    margin-bottom: 20px;
}
pre code {
    padding: 0;
    color: inherit;
    background-color: transparent;
    border: 0;
}
.pre-scrollable {
    max-height: 340px;
    overflow-y: scroll;
}

.msg_box {
    margin: 5px 0;
    background-color: #333333;
    padding: 0 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.msg_box .msg_text {
    font-family: 'Quikhand', 'Droid Sans', Arial, 'Helvetica', 'Microsoft YaHei', 'SimHei', sans-serif;
    display: block;
    font-size: 16px;
    padding-top: 10px;
    margin-bottom: 5px;
}

.msg_box .date {
    font-family: 'Quikhand', 'Droid Sans', Arial, 'Helvetica', 'Microsoft YaHei', 'SimHei', sans-serif;
    display: block;
    padding-bottom: 3px;
    text-align: right;
    font-size: 12px;
    color: #666666;
}

.nav {
    margin-left: 0;
    margin-bottom: 20px;
    list-style: none;
}
.nav > li > a {
    font-family: 'Throw', 'Droid Sans', Arial, 'Helvetica', 'Microsoft YaHei', 'SimHei', sans-serif;
    display: block;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    border-radius: 0.3em;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.nav > li > a:hover {
    text-decoration: none;
    background-color: #2E8B57;
}
.navbar {
    overflow: visible;
    margin-bottom: 20px;
    color: #adafae;
           *position: relative;
           *z-index: 2;
}

.navbar-fixed-left {
/*    position: fixed;
    top: 70px;
    left: 50px; */
    width: 250px;
    margin-right: 50px;
    float: left;
}

.headline {
    /*
    background-image: url("images/ekg.svg");
    background-repeat: no-repeat;
    background-position: 45px 30px;
    background-size: 80% auto;
    */
    top: -120px;
    height: 80px;
    position: relative;
}

.logo {
    text-align: right;
    height: 120px;
}

.logo > object {
    height: 120px;
}

.navbar-fixed-left .brand {
    font-size: 70px;
    font-family: 'Quikhand', 'Droid Sans', Arial, 'Helvetica', 'Microsoft YaHei', 'SimHei', sans-serif;
    line-height: 50px;
    color: #00FF7F;
    text-shadow: 0 0 20px rgba(0, 255, 127, 0.75);
}

.navbar-fixed-left .descr {
    font-size: 20px;
    font-family: 'Quikhand', 'Droid Sans', Arial, 'Helvetica', 'Microsoft YaHei', 'SimHei', sans-serif;
    text-align: right;
    color: #FF9C1A;
    text-shadow: 0 0 5px rgba(255, 156, 26, 0.99);
}

.navbar-fixed-left .nav {
    margin-top: 10px;
}

.navbar-fixed-left .nav > li > a {
    line-height: 40px;
    margin-right: 0;
    font-size: 18px;
    text-align: right;
    padding-right: 10px;
}

pager li > a,
.pager li > span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.pager {
    margin: 60px 0px 0px 0px;
    font-family: 'Quikhand', 'Droid Sans', Arial, 'Helvetica', 'Microsoft YaHei', 'SimHei', sans-serif;
    list-style: none;
    text-align: center;
    *zoom: 1;
}

.pager:before,
.pager:after {
    display: table;
    content: "";
    line-height: 0;
    clear: both;
}

.pager li {
    display: inline;
}

.pager .next > a,
.pager .next > span {
    float: right;
    line-height: 20px;
}
.pager .previous > a,
.pager .previous > span {
    float: left;
    line-height: 20px;
}

.post_title {
    font-family: 'Quikhand', 'Droid Sans', Arial, 'Helvetica', 'Microsoft YaHei', 'SimHei', sans-serif;
    margin-top: -5px;
    margin-bottom: 20px;
}

ul.tags {
    display: inline-block;
}

ul.tags > li {
    display: inline-block;
}

.tag {
    display: inline-block;
    padding: 4px 4px;
    font-family: 'Quikhand', 'Droid Sans', Arial, 'Helvetica', 'Microsoft YaHei', 'SimHei', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    vertical-align: middle;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #007399;

    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

ul.unstyled,
ol.unstyled {
    margin-top:30px;
    margin-left: 0;
    list-style: none;
}

ul.unstyled > li {
    margin-top:5px;
}

div.section {
    margin-top: 40px;
}

/* Better styles for embedding GitHub Gists
 * https://gist.github.com/jnrbsn/578379 */

.gist {
    font-size:13px;
    line-height:18px;
    margin-bottom:20px;
    width:100%;
}

.gist pre {
    font-family:Menlo,Monaco,'Bitstream Vera Sans Mono','Courier New',monospace !important;
}

.gist-meta{
    font-family:Helvetica,Arial,'Microsoft YaHei', 'SimHei', sans-serif;font-size:13px !important;
}
.gist-meta a {
    color:#26a !important;
    text-decoration:none;
}
.gist-meta a:hover {
    color:#0e4071 !important;
}

.comments, .more {
    font-family: 'Quikhand', 'Droid Sans', Arial, 'Helvetica', 'Microsoft YaHei', 'SimHei', sans-serif;
}

p:last-child { margin-bottom: 0 !important; } 
p:first-child { margin-top: 0 !important; } 

#global_container, .footerbox {
    margin: 0 auto;
}

#global_container {
    width: 900px;
}

#global_container:after {
    clear: both;
    content: "";
    display: block;
}

.footerbox {
    clear: both;
}

object.music-score {
    width: 100%;
}
