## -*- coding: utf-8 -*-

<%namespace name="disqus" file="disqus_helper.tmpl"/>

<%def name="comment_form(url, title, identifier)">
    ${disqus.comment_form(url, title, identifier)}
</%def>

<%def name="comment_link(link, identifier)">
    ${disqus.comment_link(link, identifier)}
</%def>

<%def name="comment_link_script()">
    ${disqus.comment_link_script()}
</%def>
