## -*- coding: utf-8 -*-
<%inherit file="base.tmpl"/>
<%block name="content">
    <div class="postbox indexbox">
        <div class="post_title">
            <h2>${title}</h2>
        </div>
        <ul class="unstyled">
            % for text, link in items:
                <li><a href="${link}">${text}</a></li>
            % endfor
        </ul>
    </div>
</%block>
