/* define all custom fonts */
@font-face {
    font-family: Quikhand;
    src: url('Quikhand.eot');
    src: url('Quikhand.eot?#iefix') format('embedded-opentype'),
        url('Quikhand.woff') format('woff');
}

@font-face {
    font-family: Throw;
    src: url('Throw.eot');
    src: url('Throw.eot?#iefix') format('embedded-opentype'),
        url('Throw.woff') format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
    src: url('OpenSans.eot');
    src: url('OpenSans.eot?#iefix') format('embedded-opentype');
	    url(Open_Sans-normal-300.woff) format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url(Open_Sans-normal-400.woff) format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: url(Open_Sans-normal-700.woff) format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 300;
	src: url(Open_Sans-italic-300.woff) format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	src: url(Open_Sans-italic-400.woff) format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 700;
	src: url(Open_Sans-italic-700.woff) format('woff');
}
