/*$sans-font-stack: 'Open Sans', Calibri, Candara, Arial, source-han-sans-traditional, 'Microsoft YaHei', 'SimHei', sans-serif; */
/* colors */
/* white */
/* base text color */
/* base bg color, main color 1 */
/* main color 1.1 */
/* sidebar bg color, main color 2 */
/* main color 3 */
/* color mappings */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* generic style of elements */
html, body {
  width: 100%;
  height: 100%; }

*:focus {
  outline: none; }

html {
  font-size: 62.5%; }

body {
  font-family: "Open Sans", Calibri, Candara, Arial, source-han-sans-traditional, "Microsoft YaHei", "SimHei", sans-serif;
  color: #cfc8c1;
  background-color: #433a40;
  line-height: 1.45;
  font-size: 16px;
  font-size: 1.6rem;
  overflow: hidden; }

img {
  max-width: 90%;
  cursor: pointer;
  border-radius: 3px;
  border: none;
  overflow: hidden; }

img.align-center, .figure.align-center, object.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

a {
  color: #cfc8c1;
  text-decoration: none;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  a:focus, a:hover, a:active {
    text-decoration: none; }
  a:focus {
    color: #cfc8c1; }
  a:hover {
    color: #ffffff;
    text-decoration: none; }

h1, h2, h3, h4 {
  margin-top: 0;
  margin-bottom: 12px;
  margin-bottom: 1.2rem;
  font-weight: 400; }

h1 {
  font-size: 30px;
  font-size: 3rem;
  letter-spacing: 0px;
  letter-spacing: 0rem;
  line-height: 1.1; }

h2 {
  font-size: 21.2px;
  font-size: 2.12rem;
  letter-spacing: 0px;
  letter-spacing: 0rem;
  line-height: 1.1; }

h3 {
  font-size: 15px;
  font-size: 1.5rem;
  letter-spacing: 0px;
  letter-spacing: 0rem;
  line-height: 1.1; }

h4 {
  font-size: 10.6px;
  font-size: 1.06rem;
  letter-spacing: 0px;
  letter-spacing: 0rem;
  line-height: 1.1; }

pre, blockquote, p {
  margin-top: 0;
  margin-bottom: 20px;
  margin-bottom: 2rem; }
  pre:last-child, blockquote:last-child, p:last-child {
    margin-bottom: 0 !important; }
  pre:first-child, blockquote:first-child, p:first-child {
    margin-top: 0 !important; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

blockquote {
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 10px 10px 10px 15px;
  border-left: 5px solid #433a40;
  background-color: #483e42; }

blockquote:before,
blockquote:after {
  content: ""; }

pre {
  font-family: "Fantasque Sans Mono", Consolas, "Lucida Console", Courier, source-han-sans-traditional, monospace;
  font-size: 14px;
  font-size: 1.4rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

div.line-block div.line-block {
  margin: 0 0 0 1.5em; }

.footnote .label {
  padding-right: 0.5em; }
.footnote td + td {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto; }

/* layout */
.container > .row {
  height: 100%;
  width: 100%;
  margin: 0px;
  overflow: hidden; }

.container {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100% !important; }

.content-column, .leftbar-column {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto; }

.leftbar-column {
  background-color: #393337;
  overflow-y: hidden;
  padding: 0;
  /* don't want to show the scroll bar :( */ }

.content-column {
  padding: 0 30px 0; }

.content-column > div {
  padding-top: 50px; }

.footerbox {
  font-family: "Open Sans", Calibri, Candara, Arial, source-han-sans-traditional, "Microsoft YaHei", "SimHei", sans-serif;
  text-align: center;
  margin-top: 100px; }

.footerbox.postbox {
  margin-bottom: 0; }

/* post */
.postbox {
  width: 573px;
  padding: 15px 30px;
  margin-bottom: 40px; }
  .postbox ul > li {
    list-style: none; }
  .postbox ul > li:before {
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 10px;
    float: left;
    margin-left: -17px;
    padding-top: 0.5em; }
  .postbox .post-title {
    font-family: "PT Sans", Calibri, Candara, Arial, source-han-sans-traditional, "Microsoft YaHei", "SimHei", sans-serif;
    margin-top: 15px; }
  .postbox .post-tags {
    margin-bottom: 5px; }
  .postbox .post-date {
    margin-bottom: 10px;
    margin-right: -30px;
    padding: 1px 30px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    color: #cfc8c1;
    text-align: right; }
  .postbox .post-text {
    margin-bottom: 20px;
    text-align: justify; }
  .postbox .post-preamble {
    font-family: "Fantasque Sans Mono", Consolas, "Lucida Console", Courier, source-han-sans-traditional, monospace;
    font-size: 12.8px;
    font-size: 1.28rem;
    text-shadow: 1px 2px 0 #393337; }
  .postbox .post-title, .postbox .post-text, .postbox .post-preamble {
    width: 513px; }

.singlepost .post-preamble {
  margin-bottom: 40px; }

/* indexbox */
.indexbox {
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #393337;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }
  .indexbox .post-date {
    background-color: #4e3b46; }

/* codebox */
pre.code {
  word-break: break-all;
  /* word-wrap: break-word; */
  white-space: pre;
  margin-left: 0;
  margin-right: 0;
  padding: 0px;
  overflow: hidden;
  border: 0;
  background-color: #483e42; }
  pre.code .lwrapper, pre.code pre.code, pre.code .wrapper {
    padding-top: 5px;
    padding-bottom: 5px; }
  pre.code .lwrapper {
    float: left;
    text-align: right;
    padding-right: 5px;
    padding-left: 5px;
    border-right: 2px solid #483e42;
    margin-right: 10px;
    min-width: 30px;
    background-color: #433a40;
    position: relative; }
    pre.code .lwrapper .code-more {
      position: absolute;
      width: 100%;
      background-color: #433a40; }
    pre.code .lwrapper .code-less.hidden {
      display: none; }
  pre.code .text {
    outline: none;
    overflow-x: auto;
    cursor: text;
    position: relative; }
    pre.code .text span.line {
      display: inline-block; }
  pre.code .lineno {
    position: relative; }
  pre.code .wrapper {
    padding-right: 5px;
    overflow-x: hidden;
    position: relative; }
    pre.code .wrapper .code-more {
      position: absolute;
      width: 100%;
      text-align: center;
      background-color: #483e42;
      cursor: pointer; }
    pre.code .wrapper .code-less {
      width: 100%;
      text-align: center;
      cursor: pointer; }
    pre.code .wrapper .code-less.hidden {
      display: none; }
  pre.code .code-more.hidden {
    display: none; }

/* msgbox */
.msgbox {
  padding: 0 12px; }
  .msgbox .msg-text {
    font-family: "Satisfy", "Open Sans", Calibri, Candara, Arial, source-han-sans-traditional, "Microsoft YaHei", "SimHei", sans-serif;
    display: block;
    padding-top: 10px;
    margin-bottom: 5px; }
  .msgbox .date {
    font-family: "Satisfy", "Open Sans", Calibri, Candara, Arial, source-han-sans-traditional, "Microsoft YaHei", "SimHei", sans-serif;
    display: block;
    padding-bottom: 3px;
    text-align: right;
    font-size: 14.4px;
    font-size: 1.44rem;
    color: #cfc8c1; }

/* logo */
.logo {
  position: relative;
  height: 148px;
  text-align: right; }

.logo-text {
  margin-right: 13px;
  padding-top: 8px;
  overflow: visible;
  position: absolute;
  right: 0; }

.logo-img {
  float: right;
  pointer-events: none;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH"; }
  .logo-img object {
    width: 255px;
    height: 120px; }

.no-svg .logo-img {
  width: 255px;
  height: 120px;
  background: url("images/ekg.png") no-repeat right center;
  background-size: 255px; }
  .no-svg .logo-img object {
    display: none; }

/* leftbar */
.layout-left {
  text-align: right; }

.nav {
  margin: 0 0 15px 0;
  list-style: none;
  overflow: hidden;
  /* clear float */ }

.navs-toggle {
  overflow: hidden; }
  .navs-toggle .navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin: 0 0;
    background-color: #433a40;
    background-image: none;
    border: 1px solid transparent;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }
  .navs-toggle .icon-bar {
    background-color: #cfc8c1;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px; }
    .navs-toggle .icon-bar + .icon-bar {
      margin-top: 4px; }

.leftbar {
  float: right;
  width: 320px;
  height: 100%;
  overflow: visible;
  padding-top: 50px;
  padding-bottom: 5px;
  padding-left: 0;
  padding-right: 0;
  /*
  background-image: url("images/bg.svg");
  background-repeat: no-repeat;
  background-size: auto 1000px;
  background-color: #251e2a;
  */
  background-color: #393337; }

.logo-rounded {
  background-color: #433a40; }
  .logo-rounded div {
    -webkit-border-radius: 0 0 8px 0;
    -moz-border-radius: 0 0 8px 0;
    border-radius: 0 0 8px 0; }

.descr-rounded {
  background-color: #433a40; }
  .descr-rounded div {
    height: 15px;
    background-color: #393337;
    -webkit-border-radius: 0 8px 0 0;
    -moz-border-radius: 0 8px 0 0;
    border-radius: 0 8px 0 0; }

.logo {
  background-color: #393337;
  overflow: visible; }

.brand {
  font-size: 60px;
  font-family: "Satisfy", "Open Sans", Calibri, Candara, Arial, source-han-sans-traditional, "Microsoft YaHei", "SimHei", sans-serif;
  line-height: 70px;
  text-shadow: 0 0 20px #cfc8c1;
  overflow: visible;
  filter: alpha(opacity=80);
  /* IE */
  opacity: 0.8;
  /* good browsers */
  zoom: 1;
  /* IE layout trick */ }
  .brand a {
    color: #ffffff; }
    .brand a:hover {
      text-shadow: 0 0 60px #cfc8c1; }

.descr {
  font-family: "Satisfy", "Open Sans", Calibri, Candara, Arial, source-han-sans-traditional, "Microsoft YaHei", "SimHei", sans-serif;
  color: #cfc8c1;
  margin-bottom: 0;
  padding: 5px 20px 5px 20px;
  font-size: 19.2px;
  font-size: 1.92rem;
  -webkit-border-radius: 16px 0 0 16px;
  -moz-border-radius: 16px 0 0 16px;
  border-radius: 16px 0 0 16px;
  background-color: #433a40; }

.nav {
  /* > li:nth-child(1) a { */
  /* > li:nth-child(2) a { */
  /* > li:nth-child(3) a { */
  /* > li:nth-child(4) a { */
  /* > li:nth-child(5) a { */ }
  .nav a {
    font-family: "Satisfy", "Open Sans", Calibri, Candara, Arial, source-han-sans-traditional, "Microsoft YaHei", "SimHei", sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    margin-right: 0;
    padding: 5px 10px;
    margin-bottom: 3px;
    display: block;
    color: #cfc8c1;
    -webkit-border-radius: 16px 0 0 16px;
    -moz-border-radius: 16px 0 0 16px;
    border-radius: 16px 0 0 16px;
    float: right;
    clear: both;
    -webkit-transition: width 0.5s ease, color 1s;
    -moz-transition: width 0.5s ease, color 1s;
    -ms-transition: width 0.5s ease, color 1s;
    -o-transition: width 0.5s ease, color 1s;
    transition: width 0.5s ease, color 1s; }
    .nav a:focus {
      text-decoration: none;
      background: none; }
    .nav a:hover {
      text-decoration: none;
      color: #ffffff; }
  .nav > li:first-child a {
    width: 80px;
    background-color: #433a40; }
    .nav > li:first-child a:hover {
      width: 120px; }
  .nav > li:first-child + li a {
    width: 104px;
    background-color: #42393f; }
    .nav > li:first-child + li a:hover {
      width: 156px; }
  .nav > li:first-child + li + li a {
    width: 135.2px;
    background-color: #40383e; }
    .nav > li:first-child + li + li a:hover {
      width: 202.8px; }
  .nav > li:first-child + li + li + li a {
    width: 175.76px;
    background-color: #3e373c; }
    .nav > li:first-child + li + li + li a:hover {
      width: 263.64px; }
  .nav > li:first-child + li + li + li + li a {
    width: 228.488px;
    background-color: #3c3539; }
    .nav > li:first-child + li + li + li + li a:hover {
      width: 304px; }

#navs {
  margin-top: 5px; }

.no-csstransitions .leftbar .nav {
  /* > li:nth-child(1) a { */
  /* > li:nth-child(2) a { */
  /* > li:nth-child(3) a { */
  /* > li:nth-child(4) a { */
  /* > li:nth-child(5) a { */ }
  .no-csstransitions .leftbar .nav > li:first-child a:hover {
    width: 80px; }
  .no-csstransitions .leftbar .nav > li:first-child + li a:hover {
    width: 104px; }
  .no-csstransitions .leftbar .nav > li:first-child + li + li a:hover {
    width: 135.2px; }
  .no-csstransitions .leftbar .nav > li:first-child + li + li + li a:hover {
    width: 175.76px; }
  .no-csstransitions .leftbar .nav > li:first-child + li + li + li + li a:hover {
    width: 228.488px; }

/* pager */
.pager li > a, .pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #cfc8c1;
  height: auto;
  color: #433a40;
  border: 0;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px; }
  .pager li > a:hover, .pager li > span:hover {
    background-color: #393337;
    color: #cfc8c1; }

ul.pager {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: "Satisfy", "Open Sans", Calibri, Candara, Arial, source-han-sans-traditional, "Microsoft YaHei", "SimHei", sans-serif;
  list-style: none;
  text-align: center; }
  ul.pager:before, ul.pager:after {
    clear: both; }
  ul.pager > li {
    display: inline; }
  ul.pager > li:before {
    content: ""; }
  ul.pager .next > a, ul.pager .next > span {
    float: right;
    line-height: 20px; }
  ul.pager .previous > a, ul.pager .previous > span {
    float: left;
    line-height: 20px; }

/* tags */
ul.tags {
  line-height: 1.67;
  display: inline-block;
  padding: 0;
  margin: 0; }
  ul.tags > li {
    display: inline-block;
    vertical-align: middle; }
  ul.tags > li:before {
    content: ""; }

.tag {
  display: block;
  padding: 0px 4px;
  line-height: 1.5;
  font-family: "Fantasque Sans Mono", Consolas, "Lucida Console", Courier, source-han-sans-traditional, monospace;
  white-space: nowrap;
  color: #cfc8c1;
  padding-left: 9px;
  padding-right: 9px;
  background-color: #583b4b;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

/* misc */
ul, ol {
  list-style-position: inside;
  padding-left: 16px;
  padding-left: 1.6rem; }
  ul.unstyled, ol.unstyled {
    margin-top: 30px;
    margin-left: 0;
    list-style: none; }
    ul.unstyled > li, ol.unstyled > li {
      margin-top: 5px; }

div.section {
  margin-top: 40px; }
  div.section:first-child {
    margin-top: 0px; }

object.music-score {
  display: block;
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  margin-bottom: 10px; }

.comments, .more {
  font-family: "Satisfy", "Open Sans", Calibri, Candara, Arial, source-han-sans-traditional, "Microsoft YaHei", "SimHei", sans-serif; }

.disqus-thread {
  margin-top: 60px; }

.mCSB_inside > .mCSB_container {
  margin: 0; }

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: #ffffff;
  filter: alpha(opacity=30);
  /* IE */
  background-color: rgba(255, 255, 255, 0.3); }
  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:hover, .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar:hover {
    filter: alpha(opacity=50);
    /* IE */
    background-color: rgba(255, 255, 255, 0.5); }

.strike {
  text-decoration: line-through; }

#pushybox {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
  /* > li:nth-child(1) a { */
  /* > li:nth-child(2) a { */
  /* > li:nth-child(3) a { */
  /* > li:nth-child(4) a { */
  /* > li:nth-child(5) a { */
  /* > li:nth-child(6) a { */
  /* > li:nth-child(7) a { */
  /* > li:nth-child(8) a { */
  /* > li:nth-child(9) a { */
  /* > li:nth-child(10) a { */
  /* > li:nth-child(11) a { */
  /* > li:nth-child(12) a { */
  /* > li:nth-child(13) a { */
  /* > li:nth-child(14) a { */
  /* > li:nth-child(15) a { */
  /* > li:nth-child(16) a { */
  /* > li:nth-child(17) a { */
  /* > li:nth-child(18) a { */
  /* > li:nth-child(19) a { */
  /* > li:nth-child(20) a { */ }
  #pushybox > li {
    margin: 10px 0; }
    #pushybox > li:first-child {
      margin-top: 0; }
    #pushybox > li:last-child {
      margin-bottom: 0; }
  #pushybox > li:first-child div {
    display: inline-block;
    width: 320px;
    background-color: #393337; }
  #pushybox > li:first-child + li div {
    display: inline-block;
    width: 316.8px;
    background-color: #3a3438; }
  #pushybox > li:first-child + li + li div {
    display: inline-block;
    width: 313.632px;
    background-color: #3c3539; }
  #pushybox > li:first-child + li + li + li div {
    display: inline-block;
    width: 310.49568px;
    background-color: #3e363b; }
  #pushybox > li:first-child + li + li + li + li div {
    display: inline-block;
    width: 307.39072px;
    background-color: #41383e; }
  #pushybox > li:first-child + li + li + li + li + li div {
    display: inline-block;
    width: 304.31682px;
    background-color: #433a40; }
  #pushybox > li:first-child + li + li + li + li + li + li div {
    display: inline-block;
    width: 301.27365px;
    background-color: #433a40; }
  #pushybox > li:first-child + li + li + li + li + li + li + li div {
    display: inline-block;
    width: 298.26091px;
    background-color: #433a40; }
  #pushybox > li:first-child + li + li + li + li + li + li + li + li div {
    display: inline-block;
    width: 295.2783px;
    background-color: #433a40; }
  #pushybox > li:first-child + li + li + li + li + li + li + li + li + li div {
    display: inline-block;
    width: 292.32552px;
    background-color: #433a40; }
  #pushybox > li:first-child + li + li + li + li + li + li + li + li + li + li div {
    display: inline-block;
    width: 289.40226px;
    background-color: #433a40; }
  #pushybox > li:first-child + li + li + li + li + li + li + li + li + li + li + li div {
    display: inline-block;
    width: 286.50824px;
    background-color: #433a40; }
  #pushybox > li:first-child + li + li + li + li + li + li + li + li + li + li + li + li div {
    display: inline-block;
    width: 283.64316px;
    background-color: #433a40; }
  #pushybox > li:first-child + li + li + li + li + li + li + li + li + li + li + li + li + li div {
    display: inline-block;
    width: 280.80673px;
    background-color: #433a40; }
  #pushybox > li:first-child + li + li + li + li + li + li + li + li + li + li + li + li + li + li div {
    display: inline-block;
    width: 277.99866px;
    background-color: #433a40; }
  #pushybox > li:first-child + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li div {
    display: inline-block;
    width: 275.21867px;
    background-color: #433a40; }
  #pushybox > li:first-child + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li div {
    display: inline-block;
    width: 272.46649px;
    background-color: #433a40; }
  #pushybox > li:first-child + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li div {
    display: inline-block;
    width: 269.74182px;
    background-color: #433a40; }
  #pushybox > li:first-child + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li div {
    display: inline-block;
    width: 267.0444px;
    background-color: #433a40; }
  #pushybox > li:first-child + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li + li div {
    display: inline-block;
    width: 264.37396px;
    background-color: #433a40; }

#pushybox-container {
  margin: 0 0 0;
  display: inline-block;
  overflow: hidden;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(1, transparent), color-stop(0.98, black), color-stop(0.02, black), color-stop(0, transparent)); }
  #pushybox-container .jspPane {
    width: 100% !important; }

.hyphenate {
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto; }

@media (min-width: 930px) {
  .leftbar-column {
    width: 33.33333%; }

  .content-column {
    width: 66.66666%; }

  #navs {
    height: auto !important; } }
@media (min-width: 751px) {
  .navs-toggle {
    display: none; } }
@media (max-width: 929px) {
  body {
    overflow: visible; }

  .leftbar-column {
    width: 100%; }

  .content-column {
    width: 100%;
    padding: 0; }

  .postbox {
    margin-left: auto;
    margin-right: auto; }

  .leftbar {
    margin-right: 0;
    padding-bottom: 10px;
    height: auto;
    width: auto;
    float: none;
    background-size: 100% auto; }
    .leftbar .descr {
      margin-left: 20px; }

  .container {
    background-size: 100% auto;
    background-position: initial;
    height: auto; }
    .container > .row {
      overflow: visible; }

  .content-column > div {
    padding-top: 0px;
    max-width: none;
    margin-top: 40px; }

  #pushybox-container {
    height: 200px !important; } }
@media (max-width: 750px) {
  .container {
    background-position: 0px 50px; }

  div.navbar-collapse.collapsed {
    display: none; } }
@media (max-width: 600px) {
  .container {
    background-position: 0px 100px; }

  .postbox {
    width: auto;
    padding: 15px; }
    .postbox .post-text, .postbox .post-preamble, .postbox .post-title {
      width: auto; }

  /*
  .indexbox {
      .post-date {
          @include font-size($font-size-body-smaller);
          margin-bottom: 10px;
          margin-left: 0px;
          margin-right: 0px;
          padding-left: 10px;
          padding-right: 10px;
      }
  }
  */ }
