/* colors */
/* color mappings */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* generic style of elements */
html, body {
  width: 100%;
  height: 100%; }

*:focus {
  outline: none; }

html {
  font-size: 62.5%; }

body {
  font-family: "Open Sans", Calibri, Candara, Arial, source-han-sans-traditional, "Microsoft YaHei", "SimHei", sans-serif;
  color: #cfc8c1;
  background-color: #433a40;
  line-height: 1.45;
  font-size: 16px;
  font-size: 1.6rem; }

img {
  max-width: 90%; }

img.align-center, .figure.align-center, object.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

a {
  color: #b7aca3;
  text-decoration: none;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  a:focus, a:hover, a:active {
    text-decoration: none; }
  a:focus {
    color: #78756f; }
  a:hover {
    color: #ffffff;
    text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 12px;
  margin-bottom: 1.2rem;
  font-weight: 300; }

h1 {
  font-size: 32px;
  font-size: 3.2rem;
  letter-spacing: -0.8px;
  letter-spacing: -0.08rem;
  line-height: 1.2; }

h2 {
  font-size: 28.8px;
  font-size: 2.88rem;
  letter-spacing: -0.8px;
  letter-spacing: -0.08rem;
  line-height: 1.25; }

h3 {
  font-size: 24.0px;
  font-size: 2.4rem;
  letter-spacing: -0.8px;
  letter-spacing: -0.08rem;
  line-height: 1.3; }

h4 {
  font-size: 19.2px;
  font-size: 1.92rem;
  letter-spacing: -0.64px;
  letter-spacing: -0.064rem;
  line-height: 1.35; }

h5 {
  font-size: 14.4px;
  font-size: 1.44rem;
  letter-spacing: -0.4px;
  letter-spacing: -0.04rem;
  line-height: 1.5; }

h6 {
  font-size: 12.0px;
  font-size: 1.2rem;
  letter-spacing: 0px;
  letter-spacing: 0rem;
  line-height: 1.6; }

pre, blockquote, p {
  margin-top: 0;
  margin-bottom: 20px;
  margin-bottom: 2rem; }
  pre:last-child, blockquote:last-child, p:last-child {
    margin-bottom: 0 !important; }
  pre:first-child, blockquote:first-child, p:first-child {
    margin-top: 0 !important; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

blockquote {
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 10px 10px 10px 15px;
  border-left: 5px solid #433a40;
  background-color: #483e42; }

blockquote:before,
blockquote:after {
  content: ""; }

pre {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  font-size: 14px;
  font-size: 1.4rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

div.line-block div.line-block {
  margin: 0 0 0 1.5em; }

/* layout */
.container > .row {
  height: 100%;
  width: 100%;
  margin: 0px;
  overflow: hidden; }

.container {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100% !important; }

.content-column, .leftbar-column {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto; }

.leftbar-column {
  background-color: #393337;
  overflow-y: hidden;
  padding: 0 15px 0;
  /* don't want to show the scroll bar :( */ }

.content-column {
  padding: 0 15px 0; }

.content-column > div {
  padding-top: 50px;
  max-width: 700px; }

.footerbox {
  font-family: "Quikhand", "Open Sans", Calibri, Candara, Arial, source-han-sans-traditional, "Microsoft YaHei", "SimHei", sans-serif;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 5px; }

/* post */
.postbox {
  margin-bottom: 40px; }

.post-title {
  font-family: "Quikhand", "Open Sans", Calibri, Candara, Arial, source-han-sans-traditional, "Microsoft YaHei", "SimHei", sans-serif;
  margin-top: 15px; }

.post-tags {
  margin-bottom: 5px; }

.post-date {
  margin-bottom: 10px;
  margin-left: -30px;
  margin-right: -30px;
  padding: 1px 30px; }

.post-single {
  padding: 15px;
  padding-left: 15px;
  padding-right: 15px; }

.post-date {
  color: #544849;
  background-color: #928176; }

.post-text {
  margin-bottom: 20px; }

.post-preamble {
  font-size: 14.4px;
  font-size: 1.44rem; }

.post-single .post-preamble {
  /* margin-top: 20px; */
  margin-bottom: 40px; }

/* indexbox */
.indexbox {
  border: none;
  background-color: #544849;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

/* codebox */
pre.code {
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  margin-left: 0;
  margin-right: 0;
  padding: 0px;
  overflow: hidden;
  border: 0;
  background-color: #483e42; }
  pre.code .lineno, pre.code pre.code, pre.code .wrapper {
    padding-top: 5px;
    padding-bottom: 5px; }
  pre.code .lineno {
    float: left;
    text-align: right;
    padding-right: 5px;
    padding-left: 5px;
    border-right: 2px solid #78756f;
    margin-right: 10px;
    min-width: 30px;
    background-color: #433a40; }
  pre.code .text {
    outline: none;
    overflow-x: auto;
    cursor: text; }
    pre.code .text span.line {
      display: inline-block; }
  pre.code .wrapper {
    padding-right: 5px;
    overflow-x: hidden; }

/* msgbox */
.msgbox {
  padding: 0 12px; }
  .msgbox .msg-text {
    font-family: "Quikhand", "Open Sans", Calibri, Candara, Arial, source-han-sans-traditional, "Microsoft YaHei", "SimHei", sans-serif;
    display: block;
    padding-top: 10px;
    margin-bottom: 5px; }
  .msgbox .date {
    font-family: "Quikhand", "Open Sans", Calibri, Candara, Arial, source-han-sans-traditional, "Microsoft YaHei", "SimHei", sans-serif;
    display: block;
    padding-bottom: 3px;
    text-align: right;
    font-size: 14.4px;
    font-size: 1.44rem;
    color: #acaaa9; }

/* logo */
.logo {
  position: relative;
  /*    height: 148px; */ }

.logo-text {
  margin-left: 2px;
  padding-top: 8px;
  overflow: visible;
  position: relative; }

.logo-img {
  position: absolute;
  pointer-events: none; }
  .logo-img object {
    width: 255px;
    height: 120px; }

.no-svg .logo-img {
  width: 255px;
  height: 120px;
  background: url("images/ekg.png") no-repeat right center; }
  .no-svg .logo-img object {
    display: none; }

/* leftbar */
.nav {
  margin: 0 0 5px 0;
  list-style: none;
  overflow: hidden;
  /* clear float */ }

.navs-toggle {
  overflow: hidden;
  margin-left: -20px;
  margin-right: -15px; }
  .navs-toggle .navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin: 8px 0;
    background-color: #42393f;
    background-image: none;
    border: 1px solid transparent;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }
  .navs-toggle .icon-bar {
    background-color: #cfc8c1;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px; }
    .navs-toggle .icon-bar + .icon-bar {
      margin-top: 4px; }

#navs {
  margin-left: -20px;
  margin-right: -20px; }

.leftbar {
  float: right;
  width: 320px;
  height: 100%;
  overflow: visible;
  padding-top: 50px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  /*
  background-image: url("images/bg.svg");
  background-repeat: no-repeat;
  background-size: auto 1000px;
  background-color: #251e2a;
  */
  background-color: #433a40;
  background-image: repeating-radial-gradient(circle at 100% 0%, rgba(31, 31, 31, 0.2), rgba(31, 31, 31, 0.2) 24px, rgba(31, 31, 31, 0.1) 24px, rgba(31, 31, 31, 0.1) 48px); }
  .leftbar .logo {
    width: 250px;
    overflow: visible; }
  .leftbar .brand {
    font-size: 70px;
    font-family: "Quikhand", "Open Sans", Calibri, Candara, Arial, source-han-sans-traditional, "Microsoft YaHei", "SimHei", sans-serif;
    line-height: 70px;
    text-shadow: 0 0 20px rgba(198, 243, 236, 0.75);
    overflow: visible;
    filter: alpha(opacity=80);
    /* IE */
    opacity: 0.8;
    /* good browsers */
    zoom: 1;
    /* IE layout trick */ }
    .leftbar .brand a {
      color: #ffffff; }
      .leftbar .brand a:hover {
        text-shadow: 0 0 60px rgba(198, 243, 236, 0.75); }
  .leftbar .descr {
    font-family: "Quikhand", "Open Sans", Calibri, Candara, Arial, source-han-sans-traditional, "Microsoft YaHei", "SimHei", sans-serif;
    text-align: left;
    color: #cfc8c1;
    margin-top: 5px;
    margin-left: -20px;
    margin-right: -20px;
    padding: 5px 20px 5px 20px;
    font-size: 14.4px;
    font-size: 1.44rem;
    background-color: #42393f;
    background-color: rgba(67, 58, 64, 0.8); }
  .leftbar .nav {
    /* > li:nth-child(1) a { */
    /* > li:nth-child(2) a { */
    /* > li:nth-child(3) a { */
    /* > li:nth-child(4) a { */
    /* > li:nth-child(5) a { */ }
    .leftbar .nav a {
      font-family: "Quikhand", "Open Sans", Calibri, Candara, Arial, source-han-sans-traditional, "Microsoft YaHei", "SimHei", sans-serif;
      font-size: 14.4px;
      font-size: 1.44rem;
      text-align: right;
      margin-right: 0;
      padding: 5px 10px;
      margin-bottom: 3px;
      display: block;
      color: #cfc8c1;
      -webkit-border-radius: 16px 0 0 16px;
      -moz-border-radius: 16px 0 0 16px;
      border-radius: 16px 0 0 16px;
      float: right;
      clear: both;
      -webkit-transition: width 0.5s ease, color 1s;
      -moz-transition: width 0.5s ease, color 1s;
      -ms-transition: width 0.5s ease, color 1s;
      -o-transition: width 0.5s ease, color 1s;
      transition: width 0.5s ease, color 1s; }
      .leftbar .nav a:focus {
        text-decoration: none;
        background: none; }
      .leftbar .nav a:hover {
        text-decoration: none;
        color: #ffffff; }
    .leftbar .nav > li:first-child a {
      width: 80px;
      background-color: #564a52; }
      .leftbar .nav > li:first-child a:hover {
        width: 120px; }
    .leftbar .nav > li:first-child + li a {
      width: 104px;
      background-color: #655861; }
      .leftbar .nav > li:first-child + li a:hover {
        width: 156px; }
    .leftbar .nav > li:first-child + li + li a {
      width: 135.2px;
      background-color: #73676f; }
      .leftbar .nav > li:first-child + li + li a:hover {
        width: 202.8px; }
    .leftbar .nav > li:first-child + li + li + li a {
      width: 175.76px;
      background-color: #80767d; }
      .leftbar .nav > li:first-child + li + li + li a:hover {
        width: 263.64px; }
    .leftbar .nav > li:first-child + li + li + li + li a {
      width: 228.488px;
      background-color: #8d878b; }
      .leftbar .nav > li:first-child + li + li + li + li a:hover {
        width: 304px; }

.no-csstransitions .leftbar .nav {
  /* > li:nth-child(1) a { */
  /* > li:nth-child(2) a { */
  /* > li:nth-child(3) a { */
  /* > li:nth-child(4) a { */
  /* > li:nth-child(5) a { */ }
  .no-csstransitions .leftbar .nav > li:first-child a:hover {
    width: 80px; }
  .no-csstransitions .leftbar .nav > li:first-child + li a:hover {
    width: 104px; }
  .no-csstransitions .leftbar .nav > li:first-child + li + li a:hover {
    width: 135.2px; }
  .no-csstransitions .leftbar .nav > li:first-child + li + li + li a:hover {
    width: 175.76px; }
  .no-csstransitions .leftbar .nav > li:first-child + li + li + li + li a:hover {
    width: 228.488px; }

/* pager */
.pager li > a, .pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #b4a4a7;
  height: auto;
  color: #433a40;
  border: 0;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px; }
  .pager li > a:hover, .pager li > span:hover {
    background-color: #544849;
    color: #cfc8c1; }

ul.pager {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: "Quikhand", "Open Sans", Calibri, Candara, Arial, source-han-sans-traditional, "Microsoft YaHei", "SimHei", sans-serif;
  list-style: none;
  text-align: center; }
  ul.pager:before, ul.pager:after {
    clear: both; }
  ul.pager > li {
    display: inline; }
  ul.pager .next > a, ul.pager .next > span {
    float: right;
    line-height: 20px; }
  ul.pager .previous > a, ul.pager .previous > span {
    float: left;
    line-height: 20px; }

/* tags */
ul.tags {
  line-height: 1.67;
  display: inline-block;
  padding: 0;
  margin: 0; }
  ul.tags > li {
    display: inline-block;
    vertical-align: middle; }

.tag {
  display: block;
  padding: 0px 4px;
  line-height: 1.5;
  font-family: "Quikhand", "Open Sans", Calibri, Candara, Arial, source-han-sans-traditional, "Microsoft YaHei", "SimHei", sans-serif;
  white-space: nowrap;
  text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.25);
  padding-left: 9px;
  padding-right: 9px;
  background-color: #867c6f;
  background-color: rgba(134, 124, 111, 0.6);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

/* misc */
ul, ol {
  list-style-position: inside;
  padding-left: 16px;
  padding-left: 1.6rem; }
  ul.unstyled, ol.unstyled {
    margin-top: 30px;
    margin-left: 0;
    list-style: none; }
    ul.unstyled > li, ol.unstyled > li {
      margin-top: 5px; }

div.section {
  margin-top: 40px; }
  div.section:first-child {
    margin-top: 0px; }

object.music-score {
  display: block;
  width: 90%;
  max-width: 550px;
  margin: 0 auto;
  margin-bottom: 10px; }

.comments, .more {
  font-family: "Quikhand", "Open Sans", Calibri, Candara, Arial, source-han-sans-traditional, "Microsoft YaHei", "SimHei", sans-serif; }

.disqus-thread {
  margin-top: 60px; }

.mCSB_inside > .mCSB_container, .mCSB_horizontal.mCSB_inside > .mCSB_container {
  margin: 0; }

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #ffffff;
  filter: alpha(opacity=50);
  /* IE */
  background-color: rgba(255, 255, 255, 0.5); }
  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:hover {
    background-color: rgba(255, 255, 255, 0.7); }

#pushybox {
  list-style: none;
  padding-left: 0px;
  margin: 0px; }
  #pushybox > li {
    margin: 10px 0; }
    #pushybox > li:first-child {
      margin-top: 0; }
    #pushybox > li:last-child {
      margin-bottom: 0; }

#pushybox-container {
  margin: 0 5px 0;
  overflow: hidden;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }
  #pushybox-container .jspPane {
    width: 100% !important; }

@media (min-width: 992px) {
  .leftbar-column {
    width: 33.33333%; }

  .content-column {
    width: 66.66666%; }

  #pushybox .msgbox {
    background-color: #4d4044;
    background-color: rgba(95, 75, 79, 0.5); } }
@media (min-width: 751px) {
  .navs-toggle {
    display: none; } }
@media (max-width: 991px) {
  .leftbar-column {
    width: 100%; }

  .content-column {
    width: 100%; }

  .leftbar {
    margin-right: 0;
    height: auto;
    width: auto;
    float: none;
    background-size: 100% auto; }

  .container {
    background-size: 100% auto;
    background-position: initial;
    height: auto; }
    .container > .row {
      overflow: visible; }

  .content-column > div {
    padding-top: 5px;
    max-width: none; }

  #pushybox, #pushybox-container {
    width: auto; }

  #pushybox-container {
    height: auto !important; }

  #pushybox {
    background-color: #4d4044;
    background-color: rgba(95, 75, 79, 0.5); } }
@media (max-width: 750px) {
  .container {
    background-position: 0px 50px; }

  div.navbar-collapse.collapsed {
    display: none; } }
@media (max-width: 600px) {
  .container {
    background-position: 0px 100px; }

  .postbox {
    padding: 0px; }

  .indexbox {
    background: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    border-radius: none;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    .indexbox:hover {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }

  .indexbox .post-date {
    font-size: 14.4px;
    font-size: 1.44rem;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 10px; }

  .leftbar {
    margin-left: -20px;
    margin-right: -20px; } }
@media (max-width: 500px) {
  .container {
    background-position: 0px 150px; } }
@media (max-width: 400px) {
  .container {
    background-position: -20px 200px; } }
