/* generic style of elements */
$sans-font-stack: "Open Sans", Calibri, Candara, Arial, source-han-sans-traditional, 'Microsoft YaHei', 'SimHei', sans-serif;
$art-sans-font-stack: 'Quikhand', 'Droid Sans', Arial, 'Helvetica', 'Microsoft YaHei', 'SimHei', sans-serif;
$nav-child-base-width: 100px;

@mixin transition($trans...) {
    -webkit-transition: $trans;
    -moz-transition: $trans;
    -ms-transition: $trans;
    -o-transition: $trans;
    transition: $trans;
}

@mixin opacity($val) {
    filter: alpha(opacity=$val * 100); /* IE */
    opacity: $val; /* good browsers */
    zoom: 1; /* IE layout trick */
}

html, body {
    width: 100%;
    height: 100%;
}

div:focus {
    outline: none;
}

body {
    font-family: $sans-font-stack;
    font-size: 16px;
    color: #cfc8c1;
    background-color: rgb(67, 58, 64);
}

img {
    max-width: 90%;
}

a {
    color: rgb(183, 172, 163);
    text-decoration: none;
    @include transition(0.5s);
}

a:focus, a:hover, a:active {
    outline: none;
    text-decoration: none;
}

a:focus {
    color: #78756f;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}

p { margin-bottom: 10px; }
p:last-child { margin-bottom: 0 !important; }
p:first-child { margin-top: 0 !important; }

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

blockquote {
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;

    padding: 10px 10px 10px 15px;
    margin: 10px 0; 
    border-left: 5px solid #78756f;
    background-color: #333333
}

blockquote:before,
blockquote:after {
    content: "";
}

/* layout */
.container > .row {
    height: 100%;
    width: 100%;
    margin: 0px;
    overflow: hidden;
}

.container {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100% !important;
}

.content-column, .leftbar-column {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.leftbar-column {
    background-color: rgb(57, 51, 55);
    overflow-y: hidden;
    /* don't want to show the scroll bar :( */
}

.content-column > div {
    padding-top: 50px;
    max-width: 700px;
}

.footerbox {
    font-family: $art-sans-font-stack;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 5px;
}

/* post */
.postbox {
    margin-bottom: 40px;
}

.post-title {
    font-family: $art-sans-font-stack;
    margin-top: 15px;
}

.post-tags {
    margin-bottom: 5px;
}

.indexbox .post-date {
    margin-bottom: 10px;
    margin-left: -30px;
    margin-right: -30px;
    padding-left: 30px;
    padding-right: 30px;
}

.post-single .post-date {
    margin-bottom: 5px;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
}

.post-date {
    color: #fff;
    background-color: rgb(146, 129, 118);
 }

.post-text {
    line-height: 25px;
    margin-bottom: 20px;
}

.post-preamble {
    font-size: 90%;
}

.post-single .post-preamble {
    margin-top: 20px;
    margin-bottom: 40px;
}

/* indexbox */
.indexbox {
    border: none;
    background-color: rgb(84, 72, 73);
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    @include transition(0.2s);
}

/* codebox */
pre.code {
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
    overflow: hidden;
    border: 0;
    background-color: #463c41;

    .lineno, pre.code, .wrapper {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .lineno {
        float: left;
        text-align: right;
        padding-right: 5px;
        padding-left: 5px;
        border-right: 2px solid #78756f;
        margin-right: 10px;
        min-width: 30px;
        background-color: #443a40;
    }

    .text {
        outline: none;
        overflow-x: auto;
        cursor: text;
        .line span {
            display: inline-block;
        }
    }

    .wrapper {
        padding-right: 5px;
        overflow-x: hidden;
    }
}


/* msgbox */
.msgbox {
    padding: 0 12px;

    .msg-text {
        font-family: $art-sans-font-stack;
        display: block;
        font-size: 16px;
        padding-top: 10px;
        margin-bottom: 5px;
    }

    .date {
        font-family: $art-sans-font-stack;
        display: block;
        padding-bottom: 3px;
        text-align: right;
        font-size: 12px;
        color: rgb(172, 170, 169);
    }
}

/* logo */
.logo {
    position: relative;
}

.logo-text {
    margin-left: 2px;
    padding-top: 8px;
    overflow: visible;
}

.logo-img {
    top: 0;
    position: absolute;
    pointer-events: none;

    object {
        width: 255px;
        height: 120px;
    }
}

.no-svg .logo-img {
    width: 255px;
    height: 120px;
    background: url('images/ekg.png') no-repeat right center;
    object {
        display: none;
    }
}

/* leftbar */
.nav {
    margin-left: 0;
    margin-bottom: 20px;
    list-style: none;
}

.navs-toggle {
    overflow: hidden;
    margin-left: -20px;
    margin-right: -15px;
    .navbar-toggle {
        margin-right: 0px;
        background-color: #544849;
    }
    .icon-bar {
        background-color: #eee;
    }
}

#navs {
    margin-left: -20px;
    margin-right: -20px;
}

.leftbar {
    float: right;
    width: 320px;;
    height: 100%;
    overflow: visible;
    padding-top: 50px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    /*
    background-image: url("images/bg.svg");
    background-repeat: no-repeat;
    background-size: auto 1000px;
    background-color: #251e2a;
    */
    background-color: #342f33;
    background-image: repeating-radial-gradient(circle at 100% 0% , rgba(31, 31, 31, 0.2), rgba(31, 31, 31, 0.2) 24px, rgba(31, 31, 31, 0.1) 24px, rgba(31, 31, 31, 0.1) 48px);

    .logo {
        width: 250px;
        overflow: visible;
    }


    .brand {
        font-size: 70px;
        font-family: $art-sans-font-stack;
        line-height: 70px;
        text-shadow: 0 0 20px rgba(198, 243, 236, 0.75);
        overflow: visible;
        @include opacity(0.8);
        a {
            color: #fff;
            &:hover {
                text-shadow: 0 0 60px rgba(198, 243, 236, 0.75);
            }
        }
    }

    .descr {
        font-size: 20px;
        font-family: $art-sans-font-stack;
        text-align: left;
        color: rgb(207, 200, 193);
        margin-top: 5px;
        margin-left: -20px;
        margin-right: -20px;
        padding: 5px 20px 5px 20px;
        font-size: 95%;
        background-color: #40373d;
        background-color: rgba(67, 58, 64, 0.8);
    }

    .nav {
        a {
            font-family: $art-sans-font-stack;
            font-size: 18px;
            text-align: right;
            margin-right: 0;
            padding-right: 10px;
            display: block;
            color: rgb(207, 200, 193);

            float: right;
            clear: both;
            @include transition(width 0.5s ease, color 1s);
            &:focus {
                text-decoration: none;
                background: none;
            }

            &:hover {
                text-decoration: none;
                background-color: #6f645e;
                background-color: rgba(111, 100, 83, 0.5);
                color: #fff;
            }
        }

        $child-bgs: #564a52 #655861 #73676f #80767d #8d878b;
        $child-width: $nav-child-base-width;
        $child-prefix: '';
        @for $i from 1 through 5 {
            /* > li:nth-child(#{$i}) a { */
            > li:first-child #{$child-prefix} a {
                width: $child-width;
                background-color: nth($child-bgs, $i);
                &:hover {
                    width: $child-width * 2;
                }
            }
            $child-width: $child-width * 1.1;
            $child-prefix: $child-prefix + '+ li';
        }
    }
}

.no-csstransitions .leftbar .nav {
    $child-width: $nav-child-base-width;
    $child-prefix: '';
    @for $i from 1 through 5 {
        /* > li:nth-child(#{$i}) a { */
        > li:first-child #{$child-prefix} a:hover {
            width: $child-width;
        }
        $child-width: $child-width * 1.1;
        $child-prefix: $child-prefix + '+ li';
    }
}


div.navbar-collapse {
    border-top: none;
    box-shadow: none;
    padding: 0;
}


/* pager */
.pager li {
    > a, > span {
        display: inline-block;
        padding: 5px 14px;
        background-color: #ccc;
        height: auto;
        color: #333;
        border: 0;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;

        &:hover {
            background-color: #e37222;
            color: #fff;
        }
    }
}

.pager {
    margin: 60px 0 0 0;
    font-family: $art-sans-font-stack;
    list-style: none;
    text-align: center;

    &:before, &:after {
        clear: both;
    }

    li {
        display: inline;
    }

    .next {
        > a, > span {
            float: right;
            line-height: 20px;
        }
    }

    .previous {
        > a, > span {
            float: left;
            line-height: 20px;
        }
    }
}

/* tags */

ul.tags {
    line-height: 1.67;
    display: inline-block;
    padding-left: 0px;
    margin-left: 0px;
    margin-bottom: 0;

    > li {
        display: inline-block;
        vertical-align: middle;
    }
}

.tag {
    display: block;
    padding: 0px 4px;
    line-height: 1.5;
    font-family: $art-sans-font-stack;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    padding-left: 9px;
    padding-right: 9px;
    background-color: #867c6f;
    background-color: rgba(134, 124, 111, 0.6);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    &:focus {
        color: #ffffff;
    }
}

/* misc */
ul, ol {
    &.unstyled {
        margin-top: 30px;
        margin-left: 0;
        list-style: none;

        > li {
            margin-top:5px;
        }
    }
}

div.section {
    margin-top: 40px;

    &:first-child {
        margin-top: 0px;
    }
}

object.music-score {
    display: block;
    width: 90%;
    max-width: 550px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.comments, .more {
    font-family: $art-sans-font-stack;
}

.disqus-thread {
    margin-top: 60px;
}

.jspDrag {
    background-color: #aaa;
}

.jspTrack {
    background-color: #333;
}

.jspHorizontalBar, .jspVerticalBar {
    background: none;
}

.jspScrollable {
    .jspHorizontalBar, .jspVerticalBar {
        @include opacity(0);
        @include transition(0.5s);
    }

    .jspTrack { filter: inherit; /* IE 5-7 */ }
    .jspDrag { filter: inherit; /* IE 5-7 */ }

    &:hover {
        .jspTrack { filter: inherit; /* IE 5-7 */ }
        .jspDrag { filter: inherit; /* IE 5-7 */ }
        .jspHorizontalBar, .jspVerticalBar{
            @include opacity(0.5);
        }
    }
}

#pushybox {
    list-style: none;
    padding-left: 0px;
    margin-left: 0px;
    > li {
        margin: 10px 0;
    }
    &:first-child { margin-top: 0; }
    &:last-child { margin-bottom: 0; }
}


#pushybox-container {
    margin: 0 5px 0;
    overflow: hidden;
    @include transition(0.2s);
    .jspPane { width: 100% !important; }
}


@media (min-width: 992px) {
    .flexbox {
        .leftbar {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -ms-flex-flow: column;
            -webkit-flex-flow: column;
            flex-flow: column;
        }

        #navs {
            display: -webkit-box !important;
            display: -moz-box !important;
            display: -ms-flexbox !important;
            display: -webkit-flex !important;
            display: flex !important;
            -ms-flex-flow: column;
            -webkit-flex-flow: column;
            flex-flow: column;
            -webkit-box-flex: 2;
            -moz-box-flex: 2;
            -webkit-flex: 2;
            -ms-flex: 2;
            flex: 2;
        }

        #pushybox-container {
            -webkit-box-flex: 2;
            -moz-box-flex: 2;
            -webkit-flex: 2;
            -ms-flex: 2;
            flex: 2;
        }
    }

    .no-flexbox #pushybox-container {
        height: 400px;
    }

    #pushybox .msgbox {
        background-color: #5b484c;
        background-color: rgba(95, 75, 79, 0.9);
    }
}

@media (max-width: 991px) {
    .leftbar {
        margin-right: 0;
        height: auto;
        width: auto;
        float: none;
        background-size: 100% auto;
    }

    .container {
        background-size: 100% auto;
        background-position: initial;
        height: auto;
        > .row {
            overflow: visible;
        }
    }

    .content-column > div {
        padding-top: 5px;
        max-width: none;
    }


    #pushybox, #pushybox-container {
        width: auto;
    }

    #pushybox-container {
        .jspContainer {
            height: auto !important;
        }
        .jspPane {
            position: static;
        }
    }

    .inner-container {
        position: relative;
    }

    #pushybox {
        background-color: #5b484c;
        background-color: rgba(95, 75, 79, 0.8);
    }
}

@media (max-width: 750px) {
    .container {
        background-position: 0px 50px;
    }
}

@media (max-width: 600px) {
    .container {
        background-position: 0px 100px;
    }

    .indexbox {
        padding: 0px;
        background: none;
        -webkit-border-radius: none;
        -moz-border-radius: none;
        border-radius: none;
        @include transition(0.2s);
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        &:hover {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }
    }

    .indexbox, .post-single {
        .post-date {
            font-size: 90%;
            color: #fff;
            background-color: rgb(146, 129, 118);
            margin-bottom: 10px;
            margin-left: 0px;
            margin-right: 0px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    .leftbar {
        margin-left: -20px;
        margin-right: -20px;
    }
}

@media (max-width: 500px) {
    .container {
        background-position: 0px 150px;
    }
}

@media (max-width: 400px) {
    .container {
        background-position: -20px 200px;
    }
}
