$sans-font-stack: 'Open Sans', Calibri, Candara, Arial, source-han-sans-traditional, 'Microsoft YaHei', 'SimHei', sans-serif;
$art-sans-font-stack: 'Satisfy', 'Open Sans', Calibri, Candara, Arial, source-han-sans-traditional, 'Microsoft YaHei', 'SimHei', sans-serif;
$mono-font-stack: 'Fantasque Sans Mono', Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
$nav-child-base-width: 80px;
$nav-child-inc-factor: 1.3;
$nav-child-hover-factor: 1.5;
$leftbar-width: 320px;
$nav-child-bgs: #564a52 #655861 #73676f #80767d #8d878b;

$font-size-headings: 4.0, 3.6, 3.0, 2.4, 1.8, 1.5;
$line-height-headings: 1.2, 1.25, 1.3, 1.35, 1.5, 1.6;
$letter-spacing-headings: -.1, -.1, -.1, -.08, -.05, 0;

$font-size-body: 1.6;
$font-size-body-larger: 1.2 * $font-size-body;
$font-size-body-smaller: 0.9 * $font-size-body;
$font-size-body-ssmaller: 0.8 * $font-size-body;
$font-size-pre: 1.4;
$font-size-blockquote: 1.5;
$main-line-height: 1.45;

/* colors */
$color1: #cfc8c1;
$color2: rgb(67, 58, 64);
$color3: rgb(183, 172, 163);
$color4: #78756f;
$color5: #ffffff;
$color6: #483e42;
$color7: rgb(57, 51, 55);
$color8: rgb(146, 129, 118);
$color9: rgb(84, 72, 73);
$color10: rgb(172, 170, 169);
$color11: #342f33;
$color12: rgb(207, 200, 193);
$color13: rgba(67, 58, 64, 0.8);
$color13-mix: #42393f;
$color14: #b4a4a7;
$color15-mix: #867c6f;
$color15: rgba(134, 124, 111, 0.6);
$color16-mix: #4d4044;
$color16: rgba(95, 75, 79, 0.5);
$color17: rgba(198, 243, 236, 0.75);
$color18: rgba(0, 0, 0, 0.25);

/* color mappings */
$color-body-text:                       $color1;
$color-body-bg:                         $color2;
$color-anchor-text:                     $color3;
$color-anchor-text-focus:               $color4;
$color-anchor-text-hover:               $color5;
$color-bquote-border-left:              $color2;
$color-bquote-bg:                       $color6;
$color-leftcolumn-bg:                   $color7;
$color-post-date-text:                  $color1;
$color-post-date-bg:                    $color6;
$color-indexbox-bg:                     $color7;
$color-codebox-lineno-border-right:     $color4;
$color-codebox-lineno-bg:               $color2;
$color-msgbox-date-text:                $color10;
$color-leftbar-bg:                      $color7;
$color-leftbar-descr-text:              $color12;
$color-leftbar-descr-bg-mix:            $color13-mix;
$color-leftbar-descr-bg:                $color-body-bg;
$color-navs-toggle-bg:                  $color-leftbar-descr-bg-mix;
$color-navs-toggle-bar-bg:              $color-leftbar-descr-text;
$color-pager-bg:                        $color14;
$color-pager-text:                      $color-body-bg;
$color-pager-bg-hover:                  $color-indexbox-bg;
$color-pager-text-hover:                $color-body-text;
$color-tag-bg-mix:                      $color16-mix;
$color-tag-bg:                          $color16;
$color-tag-text-shadow:                 $color18;
$color-msgbox-bg-mix:                   $color16-mix;
$color-msgbox-bg:                       $color16;
$color-brand-glow:                      $color17;

@mixin transition($trans...) {
    -webkit-transition: $trans;
    -moz-transition: $trans;
    -ms-transition: $trans;
    -o-transition: $trans;
    transition: $trans;
}

@mixin border-radius($rad...) {
    -webkit-border-radius: $rad;
    -moz-border-radius: $rad;
    border-radius: $rad;
}

@mixin opacity($val) {
    filter: alpha(opacity=$val * 100); /* IE */
    opacity: $val; /* good browsers */
    zoom: 1; /* IE layout trick */
}

@mixin to_rem($prop, $val) {
    #{$prop}: ($val * 10) + px;
    #{$prop}: $val + rem;
}

@mixin font-size($sizeValue: 1.6) {
    @include to_rem(font-size, $sizeValue);
}

@mixin word-wrap() {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* generic style of elements */
html, body {
    width: 100%;
    height: 100%;
}

*:focus {
    outline: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $sans-font-stack;
    color: $color-body-text;
    background-color: $color-body-bg;
    line-height: $main-line-height;
    @include font-size($font-size-body);
}

img {
    max-width: 90%;
}

img.align-center, .figure.align-center, object.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
    color: $color-anchor-text;
    text-decoration: none;
    @include transition(0.5s);
    &:focus, &:hover, &:active {
        text-decoration: none;
    }

    &:focus {
        color: $color-anchor-text-focus;
    }

    &:hover {
        color: $color-anchor-text-hover;
        text-decoration: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    @include to_rem(margin-bottom, 1.2);
    font-weight: 400;
}

@for $i from 1 through 6 {
    h#{$i} {
        @include font-size(nth($font-size-headings, $i) * 0.70);
        @include to_rem(letter-spacing, nth($letter-spacing-headings, $i) * 0.5);
        line-height: nth($line-height-headings, $i);
    }
}

pre, blockquote, p {
    margin-top: 0;
    @include to_rem(margin-bottom, 2.5 * 0.8);

    &:last-child { margin-bottom: 0 !important; }
    &:first-child { margin-top: 0 !important; }
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

blockquote {
    @include font-size($font-size-blockquote);
    font-weight: 300;
    padding: 10px 10px 10px 15px;
    border-left: 5px solid $color-bquote-border-left;
    background-color: $color-bquote-bg;
}

blockquote:before,
blockquote:after {
    content: "";
}

pre {
    font-family: $mono-font-stack;
    @include font-size($font-size-pre);
    @include border-radius(4px);
}

div.line-block div.line-block {
    margin: 0 0 0 1.5em;
}

.footnote {
    .label {
        padding-right: 0.5em;
    }
    td + td {
        @include word-wrap();
    }
}

/* layout */
.container > .row {
    height: 100%;
    width: 100%;
    margin: 0px;
    overflow: hidden;
}

.container {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100% !important;
}

.content-column, .leftbar-column {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.leftbar-column {
    background-color: $color-leftcolumn-bg;
    overflow-y: hidden;
    padding: 0;
    /* don't want to show the scroll bar :( */
}

.content-column {
    padding: 0 15px 0;
}

.content-column > div {
    padding-top: 50px;
}

.footerbox {
    font-family: $sans-font-stack;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 5px;
}

/* post */
.postbox {
    width: 573px;
    margin-bottom: 40px;

    ul > li {
        list-style: none;
    }

    ul > li:before {
        content: "\e080";
        font-family: 'Glyphicons Halflings';
        font-size: 10px;
        float: left;
        margin-left: -17px;
        padding-top: 0.5em;
    }
}

.post-title {
    font-family: $sans-font-stack;
    margin-top: 15px;
}

.post-tags {
    margin-bottom: 5px;
}

.post-date {
    margin-bottom: 10px;
    margin-left: -30px;
    margin-right: -30px;
    padding: 1px 30px;
}

.post-single {
    padding: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.post-date {
    color: $color-post-date-text;
}

.post-text {
    margin-bottom: 20px;
    text-align: justify;
}

.post-title, .post-text, .post-preamble {
    width: 513px;
}

.post-preamble {
    font-family: $mono-font-stack;
    @include font-size($font-size-body-ssmaller);
}

.post-single .post-preamble {
    /* margin-top: 20px; */
    margin-bottom: 40px;
}

/* indexbox */
.indexbox {
    border: none;
    background-color: $color-indexbox-bg;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    @include transition(0.2s);
    .post-date {
        background-color: $color-post-date-bg;
    }
}

/* codebox */
pre.code {
    word-break: break-all;
    /* word-wrap: break-word; */
    white-space: pre;
    margin-left: 0;
    margin-right: 0;
    padding: 0px;
    overflow: hidden;
    border: 0;
    background-color: $color6;

    .lineno, pre.code, .wrapper {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .lineno {
        float: left;
        text-align: right;
        padding-right: 5px;
        padding-left: 5px;
        border-right: 2px solid $color-codebox-lineno-border-right;
        margin-right: 10px;
        min-width: 30px;
        background-color: $color-codebox-lineno-bg;
    }

    .text {
        outline: none;
        overflow-x: auto;
        cursor: text;
        span.line {
            display: inline-block;
        }
    }

    .wrapper {
        padding-right: 5px;
        overflow-x: hidden;
    }
}


/* msgbox */
.msgbox {
    padding: 0 12px;

    .msg-text {
        font-family: $art-sans-font-stack;
        display: block;
        padding-top: 10px;
        margin-bottom: 5px;
    }

    .date {
        font-family: $art-sans-font-stack;
        display: block;
        padding-bottom: 3px;
        text-align: right;
        @include font-size($font-size-body-smaller);
        color: $color-msgbox-date-text;
    }
}

/* logo */
.logo {
    position: relative;
    height: 148px;
    text-align: right;
}

.logo-text {
    margin-right: 13px;
    padding-top: 8px;
    overflow: visible;
    position: absolute;
    right: 0;
}

.logo-img {
    float: right;
    pointer-events: none;

    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";

    object {
        width: 255px;
        height: 120px;
    }
}

.no-svg .logo-img {
    width: 255px;
    height: 120px;
    background: url('images/ekg.png') no-repeat right center;
    object {
        display: none;
    }
}

/* leftbar */
.nav {
    margin: 0 0 15px 0;
    list-style: none;
    overflow: hidden; /* clear float */
}

.navs-toggle {
    overflow: hidden;
    .navbar-toggle {
        position: relative;
        float: right;
        padding: 9px 10px;
        margin: 0 0;
        background-color: $color-navs-toggle-bg;
        background-image: none;
        border: 1px solid transparent;
        @include border-radius(4px);
    }
    .icon-bar {
        background-color: $color-navs-toggle-bar-bg;
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        + .icon-bar {
            margin-top: 4px;
        }
    }
}

.leftbar {
    float: right;
    width: $leftbar-width;
    height: 100%;
    overflow: visible;
    padding-top: 50px;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
    /*
    background-image: url("images/bg.svg");
    background-repeat: no-repeat;
    background-size: auto 1000px;
    background-color: #251e2a;
    */
    background-color: $color-leftbar-bg;
    //background-image: repeating-radial-gradient(circle at 100% 0% , rgba(31, 31, 31, 0.2), rgba(31, 31, 31, 0.2) 24px, rgba(31, 31, 31, 0.1) 24px, rgba(31, 31, 31, 0.1) 48px);

    .logo {
        background-color: $color-leftbar-bg;
        overflow: visible;
    }


    .brand {
        font-size: 60px;
        font-family: $art-sans-font-stack;
        line-height: 70px;
        text-shadow: 0 0 20px $color-brand-glow;
        overflow: visible;
        @include opacity(0.8);
        a {
            color: $color5;
            &:hover {
                text-shadow: 0 0 60px $color-brand-glow;
            }
        }
    }

    .descr {
        font-family: $art-sans-font-stack;
        color: $color-leftbar-descr-text;
        margin-bottom: 0;
        padding: 5px 20px 5px 20px;
        @include font-size($font-size-body-larger);
        @include border-radius(16px 0 0 16px);
        background-color: $color-leftbar-descr-bg;
    }

    .nav {
        a {
            font-family: $art-sans-font-stack;
            @include font-size($font-size-body);
            margin-right: 0;
            padding: 5px 10px;
            margin-bottom: 3px;
            display: block;
            color: $color12;
            @include border-radius(16px 0 0 16px);
            float: right;
            clear: both;
            @include transition(width 0.5s ease, color 1s);
            &:focus {
                text-decoration: none;
                background: none;
            }

            &:hover {
                text-decoration: none;
                color: $color5;
            }
        }

        $child-width: $nav-child-base-width;
        $child-prefix: '';
        @for $i from 1 through 5 {
            /* > li:nth-child(#{$i}) a { */
            > li:first-child #{$child-prefix} a {
                width: $child-width;
                background-color: nth($nav-child-bgs, $i);
                &:hover {
                    width: min($leftbar-width * 0.95, $child-width * $nav-child-hover-factor);
                }
            }
            $child-width: $child-width * $nav-child-inc-factor;
            $child-prefix: $child-prefix + '+ li';
        }
    }
}

#navs {
    margin-top: 5px;
}

.layout-left {
    text-align: right;
}

.logo-rounded {
    background-color: $color-body-bg;
    div {
        @include border-radius(0 0 8px 0);
    }
}

.descr-rounded {
    background-color: $color-body-bg;
    div {
        height: 15px;
        background-color: $color-leftbar-bg;
        @include border-radius(0 8px 0 0);
    }
}

.no-csstransitions .leftbar .nav {
    $child-width: $nav-child-base-width;
    $child-prefix: '';
    @for $i from 1 through 5 {
        /* > li:nth-child(#{$i}) a { */
        > li:first-child #{$child-prefix} a:hover {
            width: $child-width;
        }
        $child-width: $child-width * $nav-child-inc-factor;
        $child-prefix: $child-prefix + '+ li';
    }
}


/* pager */
.pager li {
    > a, > span {
        display: inline-block;
        padding: 5px 14px;
        background-color: $color-pager-bg;
        height: auto;
        color: $color-pager-text;
        border: 0;
        @include border-radius(15px);
        &:hover {
            background-color: $color-pager-bg-hover;
            color: $color-pager-text-hover;
        }
    }
}

ul.pager {
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: $art-sans-font-stack;
    list-style: none;
    text-align: center;

    &:before, &:after {
        clear: both;
    }

    > li {
        display: inline;
    }

    > li:before {
        content: "";
    }

    .next {
        > a, > span {
            float: right;
            line-height: 20px;
        }
    }

    .previous {
        > a, > span {
            float: left;
            line-height: 20px;
        }
    }
}

/* tags */

ul.tags {
    line-height: 1.67;
    display: inline-block;
    padding: 0;
    margin: 0;

    > li {
        display: inline-block;
        vertical-align: middle;
    }

    > li:before {
        content: "";
    }
}

.tag {
    display: block;
    padding: 0px 4px;
    line-height: 1.5;
    font-family: $mono-font-stack;
    white-space: nowrap;
    text-shadow: 1px 2px 0 $color-tag-text-shadow;
    padding-left: 9px;
    padding-right: 9px;
    background-color: $color-tag-bg-mix;
    background-color: $color-tag-bg;
    @include border-radius(3px);
}

/* misc */
ul, ol {
    list-style-position: inside;
    @include to_rem(padding-left, 1.6);
    &.unstyled {
        margin-top: 30px;
        margin-left: 0;
        list-style: none;

        > li {
            margin-top:5px;
        }
    }
}

div.section {
    margin-top: 40px;

    &:first-child {
        margin-top: 0px;
    }
}

object.music-score {
    display: block;
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.comments, .more {
    font-family: $art-sans-font-stack;
}

.disqus-thread {
    margin-top: 60px;
}

.mCSB_inside, .mCSB_horizontal.mCSB_inside {
    >.mCSB_container {
        margin: 0;
    }
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: $color5;
    filter: alpha(opacity=50); /* IE */
    background-color: rgba(255, 255, 255, 0.50);
    &:hover {
        background-color: rgba(255, 255, 255, 0.70);
    }
}

.strike {
    text-decoration: line-through;
}

#pushybox {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
    > li {
        margin: 10px 0;
        &:first-child { margin-top: 0; }
        &:last-child { margin-bottom: 0; }
    }

    $child-width: $leftbar-width;
    $child-prefix: '';
    @for $i from 1 through 20 {
        /* > li:nth-child(#{$i}) a { */
        > li:first-child #{$child-prefix} div {
            display: inline-block;
            width: $child-width;
        }
        $child-width: max($leftbar-width * 0.6, $child-width * 0.99);
        $child-prefix: $child-prefix + '+ li';
    }
}

#pushybox-container {
    margin: 0 0 0;
    display: inline-block;
    overflow: hidden;
    @include transition(0.2s);
    .jspPane { width: 100% !important; }
}

#pushybox .msgbox {
    background-color: $color-msgbox-bg-mix;
    background-color: $color-msgbox-bg;
}

.hyphenate {
    text-align:justify;
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
}

@media (min-width: 992px) {
    .leftbar-column {
        width: 33.33333%;
    }
    .content-column {
        width: 66.66666%;
    }

    #navs {
        height: auto !important;
    }
}

@media (min-width: 751px) {
    .navs-toggle {
        display: none;
    }
}

@media (max-width: 991px) {
    .leftbar-column {
        width: 100%;
    }
    .content-column {
        width: 100%;
        padding: 0;
    }

    .postbox {
        margin-left: auto;
        margin-right: auto;
    }

    .leftbar {
        margin-right: 0;
        padding-bottom: 10px;
        height: auto;
        width: auto;
        float: none;
        background-size: 100% auto;
        .descr {
            margin-left: 20px;
        }
    }

    .container {
        background-size: 100% auto;
        background-position: initial;
        height: auto;
        > .row {
            overflow: visible;
        }
    }

    .content-column > div {
        padding-top: 0px;
        max-width: none;
        margin-top: 40px;
    }

    //#pushybox, #pushybox-container {
    //    width: auto;
    //}

    #pushybox-container {
        height: 200px !important;
    }

    //#pushybox {
    //    background-color: $color-msgbox-bg-mix;
    //    background-color: $color-msgbox-bg;
    //}
}

@media (max-width: 750px) {
    .container {
        background-position: 0px 50px;
    }

    div.navbar-collapse.collapsed {
        display: none;
    }
}

@media (max-width: 600px) {
    .container {
        background-position: 0px 100px;
    }

    //.postbox {
    //    padding: 0px;
    //}
    .postbox {
        width: auto;
    }

    //.content-column > div {
    //    margin-left: -15px;
    //    margin-right: -15px;
    //}

    .indexbox {
        //background: none;
        @include transition(0.2s);
        padding: 5px 15px;

        .post-date {
            @include font-size($font-size-body-smaller);
            margin-bottom: 10px;
            margin-left: 0px;
            margin-right: 0px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    .post-text, .post-preamble, .post-title {
        width: auto;
    }
}

@media (max-width: 500px) {
    .container {
        background-position: 0px 150px;
    }
}

@media (max-width: 400px) {
    .container {
        background-position: -20px 200px;
    }
}
